<?xml version="1.0"?>
<config>
    <modules>
        <dbm_country>
            <version>0.0.1</version>
        </dbm_country>
    </modules>
    <global>
        <helpers>
            <dbm_country>
                <class>Dbm_Country_Helper</class>
            </dbm_country>
        </helpers>
        <models>
            <dbm_country>
                <class>Dbm_Country_Model</class>
                <resourceModel>dbm_country_mysql4</resourceModel>
            </dbm_country>
            <core>
                <rewrite>
                    <locale>Dbm_Country_Model_Core_Locale</locale>
                </rewrite>
            </core>
        </models>
        <blocks>
            <dbm_country>
                 <class>Dbm_Country_Block</class>
            </dbm_country>
            <adminhtml>
                <rewrite>
                    <catalog_product_grid>Dbm_Country_Block_Rewrite_AdminCatalogProductGrid</catalog_product_grid>
                    <store_switcher>Dbm_Country_Block_Rewrite_AdminStoreSwitcher</store_switcher>
                </rewrite>
            </adminhtml>
        </blocks>
        <events>
            <controller_action_predispatch>
                <observers>
                    <dbm_country>
                        <type>singleton</type>
                        <class>Dbm_Country_Model_Observer</class>
                        <method>predispatchHandler</method>
                    </dbm_country>
                </observers>
            </controller_action_predispatch>
            <!--<controller_action_layout_load_before>
                <observers>
                    <dbm_country>
                        <type>singleton</type>
                        <class>Dbm_Country_Model_Observer</class>
                        <method>redirectHandler</method>
                    </dbm_country>
                </observers>
            </controller_action_layout_load_before>
            <dbm_country_auto_redirect>
                <observers>
                    <dbm_country>
                        <type>singleton</type>
                        <class>Dbm_Country_Model_Observer</class>
                        <method>redirectHandler</method>
                    </dbm_country>
                </observers>
            </dbm_country_auto_redirect>
            <core_locale_set_locale>
                <observers>
                    <dbm_country>
                        <type>singleton</type>
                        <class>Dbm_Country_Model_Observer</class>
                        <method>setlocaleHandler</method>
                    </dbm_country>
                </observers>
            </core_locale_set_locale>-->
        </events>
    </global>
    <frontend>
        <translate>
            <modules>
                <Dbm_Country>
                    <files>
                        <default>Dbm_All.csv</default>
                    </files>
                </Dbm_Country>
            </modules>
        </translate>
        <routers>
            <dbm_country_front>
                <use>standard</use>
                <args>
                    <module>Dbm_Country</module>
                    <frontName>dbm-country</frontName>
                </args>
            </dbm_country_front>
            <dbm_country_switch>
                <use>standard</use>
                <args>
                    <module>Dbm_Country</module>
                    <frontName>country</frontName>
                </args>
            </dbm_country_switch>
        </routers>
        <layout>
            <updates>
                <dbm_country module="Dbm_Country">
                    <file>dbm/country.xml</file>
                </dbm_country>
             </updates>
         </layout>
    </frontend>
    <admin>
        <routers>
            <dbm_country_admin>
                <use>admin</use>
                <args>
                    <module>Dbm_Country_Adminhtml</module>
                    <frontName>dbm-country-admin</frontName>
                </args>
            </dbm_country_admin>
        </routers>
    </admin>
</config>