<?xml version="1.0"?>
<config>
    <modules>
        <Dbm_Share>
            <version>0.1.5</version>
        </Dbm_Share>
    </modules>
    <global>
        <blocks>
            <dbm_share>
                <class>Dbm_Share_Block</class>
            </dbm_share>
            <adminhtml>
                <rewrite>
                    <sales_order_grid>Dbm_Share_Block_Adminhtml_Sales_Order_Grid</sales_order_grid>
                    <sales_invoice_grid>Dbm_Share_Block_Adminhtml_Sales_Invoice_Grid</sales_invoice_grid>
                    <sales_creditmemo_grid>Dbm_Share_Block_Adminhtml_Sales_Creditmemo_Grid</sales_creditmemo_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <dbm_share>
                <class>Dbm_Share_Model</class>
                <resourceModel>dbm_share_mysql4</resourceModel>
            </dbm_share>
            <dbm_share_mysql4>
                <class>Dbm_Share_Model_Mysql4</class>
                <entities>
                    <element><table>dbm_share_element</table></element>
                    <category><table>dbm_share_category</table></category>
                    <photo><table>dbm_share_photo</table></photo>
                    <comment><table>dbm_share_comment</table></comment>
                    <like><table>dbm_share_like</table></like>
                    <category_element_relation><table>dbm_share_element_category</table></category_element_relation>
                    <follow><table>dbm_share_follow</table></follow>
                    <abuse_element><table>dbm_share_abuse_element</table></abuse_element>
                    <abuse_comment><table>dbm_share_abuse_comment</table></abuse_comment>
                </entities>
            </dbm_share_mysql4>
        </models>
        <helpers>
            <dbm_share>
                <class>Dbm_Share_Helper</class>
            </dbm_share>
            <Dbm_Share>
                <class>Dbm_Share_Helper</class>
            </Dbm_Share>
        </helpers>
        <events>
            <controller_action_layout_load_before>
                <observers>
                    <dbm_share>
                        <type>singleton</type>
                        <class>Dbm_Share_Model_Observer_Layout</class>
                        <method>layoutRenderHandler</method>
                    </dbm_share>
                </observers>
            </controller_action_layout_load_before>
            <dbm_element_add>
                <observers>
                    <dbm_share>
                        <type>singleton</type>
                        <class>Dbm_Share_Model_Observer</class>
                        <method>elementAddHandler</method>
                    </dbm_share>
                </observers>
            </dbm_element_add>
            <dbm_element_remove>
                <observers>
                    <dbm_share>
                        <type>singleton</type>
                        <class>Dbm_Share_Model_Observer</class>
                        <method>elementRemoveHandler</method>
                    </dbm_share>
                </observers>
            </dbm_element_remove>
            <!--
            <controller_front_init_routers>
                <observers>
                    <blog>
                        <type>singleton</type>
                        <class>Dbm_Share_Controller_News_Router</class>
                        <method>initControllerRouters</method>
                    </blog>
                </observers>
            </controller_front_init_routers>
            -->
            <sales_order_save_before>
                <observers>
                    <dbm_share>
                        <type>singleton</type>
                        <class>Dbm_Share_Model_Observer_Order</class>
                        <method>saveHandler</method>
                    </dbm_share>
                </observers>
            </sales_order_save_before>
        </events>
        <resources>
            <dbm_share_setup>
                <setup>
                    <module>Dbm_Share</module>
                    <class>Mage_Customer_Model_Entity_Setup</class>
                </setup>
            </dbm_share_setup>
        </resources>
        <rewrite>
            <!--
            <dbm_share_news>
                <from><![CDATA[#^/blog/(.*)#]]></from>
                <to>/club/news/$1</to>
            </dbm_share_news>
            -->
        </rewrite>
        <template>
            <!--
            <email>
                <dbm_share_mail_birthday module="Dbm_Share">
                    <label>Email anniversaire</label>
                    <file>dbm/share/birthday.html</file>
                    <type>html</type>
                </dbm_share_mail_birthday>
            </email>
            -->
        </template>
        <fieldsets>
            <sales_convert_quote>
                <special_attribute>
                   <to_order>*</to_order>
                </special_attribute>
            </sales_convert_quote>
        </fieldsets>
    </global>
    <frontend>
        <translate>
            <modules>
                <Dbm_Share>
                    <files>
                        <default>Dbm_All.csv</default>
                    </files>
                </Dbm_Share>
            </modules>
        </translate>
        <routers>
            <dbm_share_front>
                <use>standard</use>
                <args>
                    <module>Dbm_Share</module>
                    <frontName>dbm-share</frontName>
                </args>
            </dbm_share_front>
            <dbm_share_public>
                <use>standard</use>
                <args>
                    <module>Dbm_Share</module>
                    <frontName>club</frontName>
                </args>
            </dbm_share_public>
        </routers>
        <layout>
            <updates>
                <dbm_share module="Dbm_Share">
                    <file>dbm/share.xml</file>
                </dbm_share>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <dbm_share>
                <use>admin</use>
                <args>
                    <module>Dbm_Share_Adminhtml</module>
                    <frontName>dbm-share-admin</frontName>
                </args>
            </dbm_share>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Dbm_Share>
                    <files>
                        <default>Dbm_All.csv</default>
                    </files>
                </Dbm_Share>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <dbm_share>
                            <title>Gestion des partages</title>
                            <children>
                                <dbm_share_category>
                                    <title>Gestion des catégories</title>
                                </dbm_share_category>
                                <dbm_share_elements>
                                    <title>Gestion des éléments</title>
                                </dbm_share_elements>
                                <dbm_share_comments>
                                    <title>Gestion des commentaires</title>
                                </dbm_share_comments>
                            </children>
                        </dbm_share>
                    </children>
                </admin>
            </resources>
        </acl>
        <menu>
            <dbm_share translate="title">
                <title>Partages</title>
                <action>dbm-share-admin/share/index</action>
                <sort_order>50</sort_order>
                <children>
                    <dbm_share_category>
                        <title>Gestion des catégories</title>
                        <action>dbm-share-admin/category</action>
                    </dbm_share_category>
                    <dbm_share_elements>
                        <title>Gestion des partages</title>
                        <action>dbm-share-admin/element</action>
                    </dbm_share_elements>
                    <dbm_share_comments>
                        <title>Gestion des commentaires</title>
                        <action>dbm-share-admin/comments</action>
                    </dbm_share_comments>
                </children>
            </dbm_share>
        </menu>
    </adminhtml>
</config>
