<?xml version="1.0"?>
<config>
	<modules>
		<Wizkunde_ConfigurableBundle>
			<version>3.11.9</version>
		</Wizkunde_ConfigurableBundle>
	</modules>
	<global>
		<models>
        	<configurablebundle>
        		<class>Wizkunde_ConfigurableBundle_Model</class>
                <resourceModel>configurablebundle_resource</resourceModel>
        	</configurablebundle>
            <configurablebundle_resource>
                <class>Wizkunde_ConfigurableBundle_Model_Resource</class>
                <entities>
                    <image>
                        <table>wizkunde_configurablebundle</table>
                    </image>
                    <image_image>
                        <table>wizkunde_configurablebundle_image</table>
                    </image_image>
                    <image_product>
                        <table>wizkunde_configurablebundle_product</table>
                    </image_product>
                </entities>
            </configurablebundle_resource>
            <bundle_resource>
                <rewrite>
                    <option_collection>Wizkunde_ConfigurableBundle_Model_Bundle_Resource_Option_Collection</option_collection>
                    <indexer_stock>Wizkunde_ConfigurableBundle_Model_Bundle_Resource_Indexer_Stock</indexer_stock>
                    <indexer_price>Wizkunde_ConfigurableBundle_Model_Bundle_Resource_Indexer_Price</indexer_price>
                </rewrite>
            </bundle_resource>
        	<bundle_mysql4>
        		<rewrite>
        			<option_collection>Wizkunde_ConfigurableBundle_Model_Bundle_Mysql4_Option_Collection</option_collection>
        		</rewrite>
        	</bundle_mysql4>
        	<catalog>
                <rewrite>
                    <product_type_configurable>Wizkunde_ConfigurableBundle_Model_Catalog_Type_Configurable</product_type_configurable>
                </rewrite>
                <rewrite>
                    <product_type_simple>Wizkunde_ConfigurableBundle_Model_Catalog_Type_Simple</product_type_simple>
                </rewrite>
        	</catalog>
            <cataloginventory>
                <rewrite>
                    <observer>Wizkunde_ConfigurableBundle_Model_Stock</observer>
                    <stock_status>Wizkunde_ConfigurableBundle_Model_CatalogInventory_Stock_Status</stock_status>
                    <stock_item>Wizkunde_ConfigurableBundle_Model_CatalogInventory_Stock_Item</stock_item>
                </rewrite>
            </cataloginventory>
        	<catalogsearch>
        		<rewrite>
        			<layer>Wizkunde_ConfigurableBundle_Model_CatalogSearch_Layer</layer>
        		</rewrite>
        	</catalogsearch>
            <sales>
                <rewrite>
                    <quote_item>Wizkunde_ConfigurableBundle_Model_Sales_Quote_Item</quote_item>
                </rewrite>
            </sales>
        	<bundle>
        		<rewrite>
                    <sales_order_pdf_items_invoice>Wizkunde_ConfigurableBundle_Model_Sales_Order_Pdf_Items_Invoice</sales_order_pdf_items_invoice>
                    <sales_order_pdf_items_shipment>Wizkunde_ConfigurableBundle_Model_Sales_Order_Pdf_Items_Shipment</sales_order_pdf_items_shipment>
                    <sales_order_pdf_items_creditmemo>Wizkunde_ConfigurableBundle_Model_Sales_Order_Pdf_Items_Creditmemo</sales_order_pdf_items_creditmemo>
        			<product_type>Wizkunde_ConfigurableBundle_Model_Bundle_Product_Type</product_type>
                    <product_price>Wizkunde_ConfigurableBundle_Model_Bundle_Product_Price</product_price>
                </rewrite>
        	</bundle>
            <checkout>
                <rewrite>
                    <cart>Wizkunde_ConfigurableBundle_Model_Checkout_Cart</cart>
                </rewrite>
            </checkout>
		</models>
        <events>
            <catalog_product_get_bundle_discount_price>
                <observers>
                    <catalogrule>
                        <class>Wizkunde_ConfigurableBundle_Model_Bundle_Product_Price_Observer</class>
                        <method>catalogProductTypeBundlePrice</method>
                    </catalogrule>
                </observers>
            </catalog_product_get_bundle_discount_price>
        </events>
        <blocks>
        	<configurablebundle>
        		<class>Wizkunde_ConfigurableBundle_Block</class>
        	</configurablebundle>
        	<bundle>
        		<rewrite>
                    <adminhtml_sales_order_view_items_renderer>Wizkunde_ConfigurableBundle_Block_Bundle_Adminhtml_Sales_Order_View_Items_Renderer</adminhtml_sales_order_view_items_renderer>
                    <adminhtml_sales_order_items_renderer>Wizkunde_ConfigurableBundle_Block_Bundle_Adminhtml_Sales_Order_Items_Renderer</adminhtml_sales_order_items_renderer>
                    <sales_order_items_renderer>Wizkunde_ConfigurableBundle_Block_Sales_Order_Items_Renderer</sales_order_items_renderer>
        			<catalog_product_view_type_bundle>Wizkunde_ConfigurableBundle_Block_Catalog_Product_View_Type_Bundle</catalog_product_view_type_bundle>
                    <catalog_product_view_type_bundle_option_radio>Wizkunde_ConfigurableBundle_Block_Catalog_Product_View_Type_Bundle_Option_Radio</catalog_product_view_type_bundle_option_radio>
                    <catalog_product_view_type_bundle_option_checkbox>Wizkunde_ConfigurableBundle_Block_Catalog_Product_View_Type_Bundle_Option_Checkbox</catalog_product_view_type_bundle_option_checkbox>
                    <catalog_product_view_type_bundle_option_select>Wizkunde_ConfigurableBundle_Block_Catalog_Product_View_Type_Bundle_Option_Select</catalog_product_view_type_bundle_option_select>
                    <catalog_product_view_type_bundle_option_multi>Wizkunde_ConfigurableBundle_Block_Catalog_Product_View_Type_Bundle_Option_Multi</catalog_product_view_type_bundle_option_multi>
                    <adminhtml_catalog_product_edit_tab_bundle_option_search_grid>Wizkunde_ConfigurableBundle_Block_Bundle_Adminhtml_Catalog_Product_Edit_Tab_Bundle_Option_Search_Grid</adminhtml_catalog_product_edit_tab_bundle_option_search_grid>
                </rewrite>
        	</bundle>
        </blocks>
        <helpers>
            <configurablebundle>
                <class>Wizkunde_ConfigurableBundle_Helper</class>
            </configurablebundle>
            <bundle>
                <rewrite>    
                    <catalog_product_configuration>Wizkunde_ConfigurableBundle_Helper_Catalog_Product_Configuration</catalog_product_configuration>
                </rewrite>
            </bundle>            
        </helpers>
		<catalog>
			<product>
				<type>
					<bundle>
						<allowed_selection_types>
							<configurable />
                            <downloadable />
						</allowed_selection_types>
					</bundle>
				</type>
			</product>
		</catalog>
        <resources>
            <configurablebundle_setup>
                <setup>
                    <module>Wizkunde_ConfigurableBundle</module>
                </setup>
            </configurablebundle_setup>
        </resources>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <configurablebundle_layout>
                    <file>configurablebundle.xml</file>
                </configurablebundle_layout>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <configurablebundle before="Mage_Adminhtml">Wizkunde_ConfigurableBundle_Adminhtml</configurablebundle>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <configurablebundle>
                <use>standard</use>
                <args>
                    <module>Wizkunde_ConfigurableBundle</module>
                    <frontName>wizbundle</frontName>
                </args>
            </configurablebundle>
            <checkout>
                <args>
                    <modules>
                        <Wizkunde_ConfigurableBundle before="Mage_Checkout">Wizkunde_ConfigurableBundle_Checkout</Wizkunde_ConfigurableBundle>
                    </modules>
                </args>
            </checkout>
        </routers>
        <layout>
             <updates>
                  <configurablebundle>
                        <file>configurablebundle.xml</file>
                  </configurablebundle>
             </updates>
        </layout>
    </frontend>
    <default>
        <configurablebundle>
            <configurable>
                <remove_oos_products>0</remove_oos_products>
                <configurable_image>1</configurable_image>
                <update_image>1</update_image>
                <update_stock>1</update_stock>
                <update_name>1</update_name>
                <update_description>1</update_description>
            </configurable>
        </configurablebundle>
    </default>
</config>
