<?xml version="1.0"?>
<config>
    <modules>
        <D3_Newsladdressimport>
            <version>0.1.5</version>
        </D3_Newsladdressimport>
    </modules>
    <frontend>
        <routers>
            <newsladdressimport>
                <use>standard</use>
                <args>
                    <module>D3_Newsladdressimport</module>
                    <frontName>newsladdressimport</frontName>
                </args>
            </newsladdressimport>
        </routers>
        <layout>
            <updates>
                <newsladdressimport>
                    <file>newsladdressimport.xml</file>
                </newsladdressimport>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<newsladdressimport>
				<use>admin</use>
				<args>
					<module>D3_Newsladdressimport</module>
					<frontName>newsladdressimport</frontName>
				</args>
			</newsladdressimport>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<newsletter>
				<children>
					<newsladdressimport module="newsladdressimport">
						<title>Newsletter Address Import</title>
						<sort_order>71</sort_order>
						<action>newsladdressimport/adminhtml_newsladdressimport</action>
					</newsladdressimport>
				</children>
			</newsletter>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<newsletter>
							<children>
								<D3_Newsladdressimport>
									<title>Newsladdressimport Module</title>
									<sort_order>10</sort_order>
								</D3_Newsladdressimport>
							</children>
						</newsletter>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<newsladdressimport>
					<file>newsladdressimport.xml</file>
				</newsladdressimport>
			</updates>
		</layout>
		<translate>
            <modules>
                <newsladdressimport>
                    <files>
                        <default>D3_Newsladdressimport.csv</default>
                    </files>
                </newsladdressimport>
            </modules>
        </translate>
    </adminhtml>   
    <global>
        <models>
            <newsladdressimport>
                <class>D3_Newsladdressimport_Model</class>
                <resourceModel>newsladdressimport_mysql4</resourceModel>
            </newsladdressimport>
            <newsladdressimport_mysql4>
                <class>D3_Newsladdressimport_Model_Mysql4</class>
                <entities>
                    <newsladdressimport>
                        <table>newsladdressimport</table>
                    </newsladdressimport>
                </entities>
            </newsladdressimport_mysql4>
        </models>
        <resources>
            <newsladdressimport_setup>
                <setup>
                    <module>D3_Newsladdressimport</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </newsladdressimport_setup>
            <newsladdressimport_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </newsladdressimport_write>
            <newsladdressimport_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </newsladdressimport_read>
        </resources>
        <blocks>
            <newsladdressimport>
                <class>D3_Newsladdressimport_Block</class>
            </newsladdressimport>
        </blocks>
        <helpers>
            <newsladdressimport>
                <class>D3_Newsladdressimport_Helper</class>
            </newsladdressimport>
        </helpers>
    </global>
</config>