<?xml version="1.0"?>
<config>
    <modules>
      	<Monbento_V2>
          	<version>0.1.1</version>
        </Monbento_V2>
    </modules>
    <global>
        <models>
            <v2>
                <class>Monbento_V2_Model</class>
            </v2>
        </models>
        <helpers>
            <v2>
                <class>Monbento_V2_Helper</class>
            </v2>
        </helpers>
        <blocks>
            <v2>
                <class>Monbento_V2_Block</class>
            </v2>
            <page>
                <rewrite>
                    <html>Monbento_V2_Block_Rewrite_Page_Html</html>
                </rewrite>
            </page>
        </blocks>
        <page>
            <layouts>
                <home_page_v2 translate="label">
                    <label>Home Page V2</label>
                    <template>page/home-page-V2.phtml</template>
                </home_page_v2>
                <contenu_v2 translate="label">
                    <label>Contenu V2</label>
                    <template>page/contenu-V2.phtml</template>
                </contenu_v2>
                <recrutement translate="label">
                    <label>Recrutement</label>
                    <template>page/1column.phtml</template>
                    <layout_handle>recrutement</layout_handle>
                </recrutement>
            </layouts>
        </page>
        <events>
            <cms_page_prepare_save>
                <observers>
                    <monbento_v2_save_page>
                    <type>singleton</type>
                    <class>v2/observer</class>
                        <method>savePage</method>
                    </monbento_v2_save_page>
                </observers>
            </cms_page_prepare_save>
            <adminhtml_cms_page_edit_tab_main_prepare_form>
                <observers>
                    <monbento_v2_prepare_form>
                        <type>singleton</type>
                        <class>v2/observer</class>
                        <method>prepareForm</method>
                    </monbento_v2_prepare_form>
                </observers>
            </adminhtml_cms_page_edit_tab_main_prepare_form>
        </events>
        <resources>
            <v2_setup>
                <setup>
                    <module>Monbento_V2</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </v2_setup>
        </resources>
        <rewrite>
            <monbento_v2_contact_de>
                <from><![CDATA[#^/kontakt#]]></from>
                <to>/contacts</to>
            </monbento_v2_contact_de>
            <monbento_v2_contact_it>
                <from><![CDATA[#^/contattaci#]]></from>
                <to>/contacts</to>
            </monbento_v2_contact_it>
        </rewrite>
    </global>
    <adminhtml>
        <events>
            <catalog_product_save_after>
                <observers>
                    <monbento_v2_observer>
                        <type>singleton</type>
                        <class>v2/observer</class>
                        <method>productSaveHandler</method>
                    </monbento_v2_observer>
                </observers>
            </catalog_product_save_after>
            <customer_address_format>
                <observers>
                    <monbento_v2_address_format>
                        <type>singleton</type>
                        <class>v2/observer</class>
                        <method>addressFormatHandler</method>
                    </monbento_v2_address_format>
                </observers>
            </customer_address_format>
        </events>
    </adminhtml>
    <frontend>
        <translate>
            <modules>
                <Monbento_V2>
                    <files>
                        <default>Dbm_All.csv</default>
                    </files>
                </Monbento_V2>
            </modules>
        </translate>
        <routers>
            <contacts>
                <args>
                    <modules>
                        <Monbento_V2 before="Mage_Contacts">Monbento_V2</Monbento_V2>
                    </modules>
                </args>
            </contacts>
            <v2_router>
                <use>standard</use>
                <args>
                    <module>Monbento_V2</module>
                    <frontName>v2</frontName>
                </args>
            </v2_router>
        </routers>
    </frontend>
</config>