<?xml version="1.0"?>
<config>
        <modules>
                <Monbento_Improve>
                        <version>1.0</version>
                </Monbento_Improve>
        </modules>
        <frontend>
                <routers>
                        <improve>
                                <use>standard</use>
                                <args>
                                        <module>Monbento_Improve</module>
                                        <frontName>ameliorer-mon-bento</frontName>
                                </args>
                        </improve>
                </routers>
                <translate>
                        <modules>
                                <Monbento_Improve>
                                    <files>
                                        <default>Monbento_Improve.csv</default>
                                    </files>
                                </Monbento_Improve>
                        </modules>
                </translate>
                <layout>
                    <updates>
                        <improve>
                            <file>improve.xml</file>
                        </improve>
                    </updates>
                </layout>
        </frontend>
        <global>
                <resources>
                    <improve_setup>
                        <setup>
                            <module>Mage_Improve</module>
                        </setup>
                        <connection>
                            <use>core_setup</use>
                        </connection>
                    </improve_setup>
                </resources>
                <helpers>
                    <improve>
                        <class>Monbento_Improve_Helper</class>
                    </improve>
                </helpers>
                <template>
                    <email>
                        <improve_email_email_template translate="label" module="improve">
                            <label>Improve Form</label>
                            <file>improve_form.html</file>
                            <type>text</type>
                        </improve_email_email_template>
                    </email>
                </template>
        </global>
        
        <default>
                <improve>
                    <improve>
                        <enabled>1</enabled>
                    </improve>
                    <email>
                        <recipient_email><![CDATA[nicolas@altiplano.fr]]></recipient_email>
                        <sender_email_identity>general</sender_email_identity>
                        <email_template>improve_email_email_template</email_template>
                    </email>
                </improve>
        </default>
</config>
