@import url(http://fonts.googleapis.com/css?family=Lato:400,700,900);
@import url(http://fonts.googleapis.com/css?family=Sofia);
@import url(http://fonts.googleapis.com/css?family=Oswald:700);
@font-face {
  font-family: 'dirty_headlineregular';
  src: url("../fonts/dirty_headline/Dirty_Headline.eot");
  src: url("../fonts/dirty_headline/Dirty_Headline.woff") format("woff");
  src: url("../fonts/dirty_headline/Dirty_Headline.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* line 5, ../sass/components/base/_fontStyle.scss */
body {
  font-family: "Lato", sans-serif;
  color: #5f6061;
}

/* line 10, ../sass/components/base/_fontStyle.scss */
strong {
  font-weight: 700;
}

/* line 12, ../sass/components/base/_fontStyle.scss */
a {
  color: #5f6061;
  text-decoration: none;
  -moz-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
  cursor: pointer;
}
/* line 18, ../sass/components/base/_fontStyle.scss */
a:hover {
  color: #903c7c;
  -moz-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 9, ../sass/components/plugins/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
/* line 19, ../sass/components/plugins/_normalize.scss */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
/* line 32, ../sass/components/plugins/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
/* line 52, ../sass/components/plugins/_normalize.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 65, ../sass/components/plugins/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
/* line 75, ../sass/components/plugins/_normalize.scss */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 87, ../sass/components/plugins/_normalize.scss */
a {
  background: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 95, ../sass/components/plugins/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
/* line 107, ../sass/components/plugins/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
/* line 115, ../sass/components/plugins/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
/* line 124, ../sass/components/plugins/_normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
/* line 133, ../sass/components/plugins/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 142, ../sass/components/plugins/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 151, ../sass/components/plugins/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 159, ../sass/components/plugins/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 167, ../sass/components/plugins/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 171, ../sass/components/plugins/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
/* line 182, ../sass/components/plugins/_normalize.scss */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
/* line 190, ../sass/components/plugins/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
/* line 201, ../sass/components/plugins/_normalize.scss */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 209, ../sass/components/plugins/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
/* line 219, ../sass/components/plugins/_normalize.scss */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
/* line 227, ../sass/components/plugins/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
/* line 250, ../sass/components/plugins/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
/* line 264, ../sass/components/plugins/_normalize.scss */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
/* line 275, ../sass/components/plugins/_normalize.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 288, ../sass/components/plugins/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 300, ../sass/components/plugins/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 309, ../sass/components/plugins/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 320, ../sass/components/plugins/_normalize.scss */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
/* line 332, ../sass/components/plugins/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
/* line 344, ../sass/components/plugins/_normalize.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 355, ../sass/components/plugins/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
/* line 368, ../sass/components/plugins/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
/* line 377, ../sass/components/plugins/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 388, ../sass/components/plugins/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
/* line 397, ../sass/components/plugins/_normalize.scss */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
/* line 406, ../sass/components/plugins/_normalize.scss */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 417, ../sass/components/plugins/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 422, ../sass/components/plugins/_normalize.scss */
td,
th {
  padding: 0;
}

/* -------------------------------- 

Main components 

-------------------------------- */
/* line 6, ../sass/components/plugins/_img_comp_slider.scss */
.cd-image-container {
  position: relative;
  width: 90%;
  max-width: 900px;
  margin: 0em auto;
}

/* line 13, ../sass/components/plugins/_img_comp_slider.scss */
.cd-image-container img {
  display: block;
}

/* line 17, ../sass/components/plugins/_img_comp_slider.scss */
.cd-image-label {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #ffffff;
  padding: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  opacity: 0;
  -webkit-transform: translateY(20px);
  -moz-transform: translateY(20px);
  -ms-transform: translateY(20px);
  -o-transform: translateY(20px);
  transform: translateY(20px);
  -webkit-transition: -webkit-transform 0.3s 0.7s, opacity 0.3s 0.7s;
  -moz-transition: -moz-transform 0.3s 0.7s, opacity 0.3s 0.7s;
  transition: transform 0.3s 0.7s, opacity 0.3s 0.7s;
}

/* line 35, ../sass/components/plugins/_img_comp_slider.scss */
.cd-image-label.is-hidden {
  visibility: hidden;
}

/* line 38, ../sass/components/plugins/_img_comp_slider.scss */
.is-visible .cd-image-label {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

/* line 47, ../sass/components/plugins/_img_comp_slider.scss */
.cd-resize-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  overflow: hidden;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 63, ../sass/components/plugins/_img_comp_slider.scss */
.cd-resize-img img {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  height: 100%;
  width: auto;
  max-width: none;
}

/* line 72, ../sass/components/plugins/_img_comp_slider.scss */
.cd-resize-img .cd-image-label {
  right: auto;
  left: 0;
}

/* line 76, ../sass/components/plugins/_img_comp_slider.scss */
.is-visible .cd-resize-img {
  width: 50%;
  /* bounce in animation of the modified image */
  -webkit-animation: cd-bounce-in 0.7s;
  -moz-animation: cd-bounce-in 0.7s;
  animation: cd-bounce-in 0.7s;
}

@-webkit-keyframes cd-bounce-in {
  0% {
    width: 0;
  }
  60% {
    width: 55%;
  }
  100% {
    width: 50%;
  }
}
@-moz-keyframes cd-bounce-in {
  0% {
    width: 0;
  }
  60% {
    width: 55%;
  }
  100% {
    width: 50%;
  }
}
@keyframes cd-bounce-in {
  0% {
    width: 0;
  }
  60% {
    width: 55%;
  }
  100% {
    width: 50%;
  }
}
/* line 117, ../sass/components/plugins/_img_comp_slider.scss */
.cd-handle {
  position: absolute;
  height: 44px;
  width: 44px;
  /* center the element */
  left: 50%;
  top: 50%;
  margin-left: -22px;
  margin-top: -22px;
  border-radius: 50%;
  background: #dc717d url("../images/cd-arrows.svg") no-repeat center center;
  cursor: move;
  box-shadow: 0 0 0 6px rgba(0, 0, 0, 0.2), 0 0 10px rgba(0, 0, 0, 0.6), inset 0 1px 0 rgba(255, 255, 255, 0.3);
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0) scale(0);
  -moz-transform: translate3d(0, 0, 0) scale(0);
  -ms-transform: translate3d(0, 0, 0) scale(0);
  -o-transform: translate3d(0, 0, 0) scale(0);
  transform: translate3d(0, 0, 0) scale(0);
}

/* line 137, ../sass/components/plugins/_img_comp_slider.scss */
.cd-handle.draggable {
  /* change background color when element is active */
  background-color: #445b7c;
}

/* line 141, ../sass/components/plugins/_img_comp_slider.scss */
.is-visible .cd-handle {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  -moz-transform: translate3d(0, 0, 0) scale(1);
  -ms-transform: translate3d(0, 0, 0) scale(1);
  -o-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1);
  -webkit-transition: -webkit-transform 0.3s 0.7s, opacity 0s 0.7s;
  -moz-transition: -moz-transform 0.3s 0.7s, opacity 0s 0.7s;
  transition: transform 0.3s 0.7s, opacity 0s 0.7s;
}

/*	--------------------------------------------------
	Reveal Modals
	-------------------------------------------------- */
/* line 5, ../sass/components/plugins/_reveal.scss */
.reveal-modal-bg {
  position: fixed;
  height: 100%;
  width: 100%;
  background: #000;
  background: rgba(0, 0, 0, 0.8);
  z-index: 10000;
  display: none;
  top: 0;
  left: 0;
}

/* line 17, ../sass/components/plugins/_reveal.scss */
.reveal-modal {
  visibility: hidden;
  top: 100px;
  left: 50%;
  margin-left: -300px;
  width: 520px;
  background: #eee;
  position: absolute;
  z-index: 10001;
  padding: 30px 40px 34px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  -box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 47, ../sass/components/plugins/_reveal.scss */
.reveal-modal.small {
  width: 200px;
  margin-left: -140px;
}

/* line 48, ../sass/components/plugins/_reveal.scss */
.reveal-modal.medium {
  width: 400px;
  margin-left: -240px;
}

/* line 49, ../sass/components/plugins/_reveal.scss */
.reveal-modal.large {
  width: 600px;
  margin-left: -340px;
}

/* line 50, ../sass/components/plugins/_reveal.scss */
.reveal-modal.xlarge {
  width: 800px;
  margin-left: -440px;
}

/* line 52, ../sass/components/plugins/_reveal.scss */
.reveal-modal .close-reveal-modal {
  font-size: 22px;
  line-height: .5;
  position: absolute;
  top: 8px;
  right: 11px;
  color: #aaa;
  text-shadow: 0 -1px 1px rbga(0, 0, 0, 0.6);
  font-weight: bold;
  cursor: pointer;
}

/*
	
NOTES

Close button entity is &#215;

Example markup

<div id="myModal" class="reveal-modal">
	<h2>Awesome. I have it.</h2>
	<p class="lead">Your couch.  I it's mine.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ultrices aliquet placerat. Duis pulvinar orci et nisi euismod vitae tempus lorem consectetur. Duis at magna quis turpis mattis venenatis eget id diam. </p>
	<a class="close-reveal-modal">&#215;</a>
</div>

*/
/* line 7, ../sass/components/modules/_susyGrid.scss */
.container {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.5/sass/susy/output/support/_clearfix.scss */
.container:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 11, ../sass/components/modules/_susyGrid.scss */
.grid-1 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 8.33333%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}

/* line 11, ../sass/components/modules/_susyGrid.scss */
.grid-2 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 16.66667%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}

/* line 11, ../sass/components/modules/_susyGrid.scss */
.grid-3 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 25%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}

/* line 11, ../sass/components/modules/_susyGrid.scss */
.grid-4 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 33.33333%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}

/* line 11, ../sass/components/modules/_susyGrid.scss */
.grid-5 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 41.66667%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}

/* line 11, ../sass/components/modules/_susyGrid.scss */
.grid-6 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}

/* line 11, ../sass/components/modules/_susyGrid.scss */
.grid-7 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 58.33333%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}

/* line 11, ../sass/components/modules/_susyGrid.scss */
.grid-8 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 66.66667%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}

/* line 11, ../sass/components/modules/_susyGrid.scss */
.grid-9 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 75%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}

/* line 11, ../sass/components/modules/_susyGrid.scss */
.grid-10 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 83.33333%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}

/* line 11, ../sass/components/modules/_susyGrid.scss */
.grid-11 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 91.66667%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}

/* line 11, ../sass/components/modules/_susyGrid.scss */
.grid-12 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}

/* line 32, ../sass/components/modules/_susyGrid.scss */
.left {
  float: left;
}

/* line 33, ../sass/components/modules/_susyGrid.scss */
.right {
  float: right;
}

/* line 6, ../sass/components/modules/_mixin.scss */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* line 12, ../sass/components/modules/_mixin.scss */
.row:before, .row:after {
  content: "";
  display: table;
}
/* line 16, ../sass/components/modules/_mixin.scss */
.row:before:after, .row:after:after {
  clear: both;
}
/* line 17, ../sass/components/modules/_mixin.scss */
.row:before, .row:after {
  *zoom: 1;
}

/* line 5, ../sass/components/modules/_textAlign.scss */
.txt-align-left {
  text-align: left;
}

/* line 6, ../sass/components/modules/_textAlign.scss */
.txt-align-right {
  text-align: right;
}

/* line 5, ../sass/components/modules/_button.scss */
.btn {
  text-transform: uppercase;
  text-align: center;
  color: white;
  font-size: 15px;
  line-height: 16px;
  padding: 18px 27px;
  background: #903c7c;
  border: solid 1px #903c7c;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  display: inline-block;
  -moz-transition: background 0.2s ease, color 0.2s ease;
  -o-transition: background 0.2s ease, color 0.2s ease;
  -webkit-transition: background 0.2s ease, color 0.2s ease;
  transition: background 0.2s ease, color 0.2s ease;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 22, ../sass/components/modules/_button.scss */
.btn.disabled {
  cursor: inherit;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
/* line 26, ../sass/components/modules/_button.scss */
.btn.disabled:hover {
  color: white;
  background: #903c7c;
}
/* line 32, ../sass/components/modules/_button.scss */
.btn:hover {
  background: white;
  color: #903c7c;
  -moz-transition: background 0.2s ease, color 0.2s ease;
  -o-transition: background 0.2s ease, color 0.2s ease;
  -webkit-transition: background 0.2s ease, color 0.2s ease;
  transition: background 0.2s ease, color 0.2s ease;
}

/* line 39, ../sass/components/modules/_button.scss */
i.icon-arrow-right {
  content: "";
  position: relative;
  display: inline-block;
  right: -10px;
  top: 10px;
  width: 36px;
  height: 36px;
  border: 1px solid #5f6061;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: url(../images/bkg_arrow_right.png) no-repeat 50% 50% transparent;
}

/* line 52, ../sass/components/modules/_button.scss */
.input-text {
  font-size: 15px;
  line-height: 16px;
  padding: 18px 27px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  display: inline-block;
  border: none;
  outline: none;
  -moz-transition: box-shadow 0.2s ease;
  -o-transition: box-shadow 0.2s ease;
  -webkit-transition: box-shadow 0.2s ease;
  transition: box-shadow 0.2s ease;
  -moz-box-shadow: transparent 0 0 10px 0;
  -webkit-box-shadow: transparent 0 0 10px 0;
  box-shadow: transparent 0 0 10px 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 67, ../sass/components/modules/_button.scss */
.input-text:focus {
  -moz-box-shadow: #903c7c 0 0 10px 0;
  -webkit-box-shadow: #903c7c 0 0 10px 0;
  box-shadow: #903c7c 0 0 10px 0;
  -moz-transition: box-shadow 0.2s ease;
  -o-transition: box-shadow 0.2s ease;
  -webkit-transition: box-shadow 0.2s ease;
  transition: box-shadow 0.2s ease;
}

/* line 6, ../sass/components/modules/_mixin.scss */
.merge_input:after {
  content: "";
  display: table;
  clear: both;
}
/* line 12, ../sass/components/modules/_mixin.scss */
.merge_input:before, .merge_input:after {
  content: "";
  display: table;
}
/* line 16, ../sass/components/modules/_mixin.scss */
.merge_input:before:after, .merge_input:after:after {
  clear: both;
}
/* line 17, ../sass/components/modules/_mixin.scss */
.merge_input:before, .merge_input:after {
  *zoom: 1;
}
/* line 76, ../sass/components/modules/_button.scss */
.merge_input .btn {
  -moz-border-radius: 0 8px 8px 0;
  -webkit-border-radius: 0;
  border-radius: 0 8px 8px 0;
}
/* line 80, ../sass/components/modules/_button.scss */
.merge_input .input-text {
  -moz-border-radius: 8px 0 0 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px 0 0 8px;
}

/* line 96, ../sass/components/modules/_button.scss */
.alert-box {
  font-size: 15px;
  line-height: 16px;
  padding: 18px 27px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  display: inline-block;
  color: white;
  margin-bottom: 20px;
}
/* line 105, ../sass/components/modules/_button.scss */
.alert-box.succes {
  background: #43ac6a;
  border: solid 1px #3c9a5f;
}
/* line 110, ../sass/components/modules/_button.scss */
.alert-box.error {
  background: #f04124;
  border: solid 1px #ea2f10;
}
/* line 115, ../sass/components/modules/_button.scss */
.alert-box.loading {
  background: url(../images/loading.gif) no-repeat 50% 50% white;
  height: 70px;
}

/* line 7, ../sass/components/modules/_fontStyle.scss */
.custom_box .container .title, .your_game .container .title, .simple_things .container .title {
  font-family: "dirty_headlineregular", "Oswald", sans-serif, sans-serif;
  font-size: 36px;
  margin-bottom: 18px;
  color: #3f4040;
  text-align: center;
}
/* line 20, ../sass/components/modules/_fontStyle.scss */
.custom_box .container .title_sub, .your_game .container .title_sub, .simple_things .container .title_sub {
  font-weight: 700;
  color: #3f4040;
  font-size: 24px;
  text-align: center;
  margin-bottom: 45px;
}

/* line 30, ../sass/components/modules/_fontStyle.scss */
.clr_pink {
  color: #a60063;
}

/* line 31, ../sass/components/modules/_fontStyle.scss */
.clr_lightpink {
  color: #d872c0;
}

/* line 32, ../sass/components/modules/_fontStyle.scss */
.clr_green {
  color: #c3d500;
}

/* line 33, ../sass/components/modules/_fontStyle.scss */
.clr_yellow {
  color: #ffd600;
}

/* line 34, ../sass/components/modules/_fontStyle.scss */
.clr_orange {
  color: #e97200;
}

/* line 36, ../sass/components/modules/_fontStyle.scss */
.modal_content p {
  padding: 0;
  margin: 0 0 20px 0;
  font-size: 16px;
  color: #3f4040;
}

/* line 5, ../sass/components/blocks/_header.scss */
.monbentoKids_home header {
  height: 580px;
  background: url(../images/bkg_header_homepage.jpg) no-repeat 50% 0 #f4f6f8;
}

/* line 24, ../sass/components/blocks/_header.scss */
header .punchline, header .punchline_sub {
  color: white;
  text-shadow: 1px 1px 1px #3f4040;
}
/* line 37, ../sass/components/blocks/_header.scss */
header .punchline {
  font-size: 30px;
  margin-top: 370px;
}
/* line 55, ../sass/components/blocks/_header.scss */
header .punchline_sub {
  font-size: 52px;
  font-family: "dirty_headlineregular", "Oswald", sans-serif, sans-serif;
}

/* line 5, ../sass/components/blocks/_footer.scss */
.social_footer {
  padding-top: 40px;
  text-align: center;
}
/* line 9, ../sass/components/blocks/_footer.scss */
.social_footer a {
  font-size: 24px;
}
/* line 13, ../sass/components/blocks/_footer.scss */
.social_footer ul {
  list-style: none;
  padding: 0;
  margin: 40px 0;
  text-align: center;
}
/* line 19, ../sass/components/blocks/_footer.scss */
.social_footer ul li {
  display: inline-block;
  margin: 0 40px;
}
/* line 27, ../sass/components/blocks/_footer.scss */
.social_footer ul li a {
  display: block;
  width: 75px;
  height: 75px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
/* line 33, ../sass/components/blocks/_footer.scss */
.social_footer ul li a.facebook {
  background: url(../images/icon_facebook.png) no-repeat 50% 50% #4463a3;
  border-color: #4463a3;
}
/* line 38, ../sass/components/blocks/_footer.scss */
.social_footer ul li a.twitter {
  background: url(../images/icon_twitter.png) no-repeat 50% 50% #449ecd;
  border-color: #449ecd;
}
/* line 43, ../sass/components/blocks/_footer.scss */
.social_footer ul li a.instagram {
  background: url(../images/icon_instagram.png) no-repeat 50% 50% #86664e;
  border-color: #86664e;
}

/* line 52, ../sass/components/blocks/_footer.scss */
footer {
  background: #8d3b7a;
  color: white;
  text-align: center;
  padding: 15px 0;
  font-size: 14px;
}
/* line 59, ../sass/components/blocks/_footer.scss */
footer ul {
  padding: 0;
  list-style: none;
  margin: 0;
}
/* line 64, ../sass/components/blocks/_footer.scss */
footer ul li {
  display: inline-block;
  margin: 0 5px;
}
/* line 70, ../sass/components/blocks/_footer.scss */
footer a {
  color: white;
}
/* line 73, ../sass/components/blocks/_footer.scss */
footer a:hover {
  color: white;
  text-decoration: underline;
}

/* line 6, ../sass/components/blocks/_navHeader.scss */
nav.nav_header_homepage .container {
  background: url(../images/logo_monbento.png) no-repeat 50% 50% white;
  min-height: 75px;
}
/* line 16, ../sass/components/blocks/_navHeader.scss */
nav.nav_header_homepage .goto_monbento, nav.nav_header_homepage .language {
  font-size: 18px;
}
/* line 21, ../sass/components/blocks/_navHeader.scss */
nav.nav_header_homepage .goto_monbento a {
  display: inline-block;
  margin-top: 26px;
  position: relative;
}
/* line 26, ../sass/components/blocks/_navHeader.scss */
nav.nav_header_homepage .goto_monbento a:after {
  content: "";
  position: absolute;
  display: block;
  right: -45px;
  top: -6px;
  width: 36px;
  height: 36px;
  border: 1px solid #5f6061;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: url(../images/bkg_arrow_right.png) no-repeat 50% 50% transparent;
}
/* line 42, ../sass/components/blocks/_navHeader.scss */
nav.nav_header_homepage .language a {
  display: inline-block;
  margin-top: 20px;
  margin-left: 10px;
  width: 34px;
  height: 34px;
  line-height: 30px;
  text-align: center;
  border: 1px solid #b3b3b3;
  background: transparent;
  color: #b3b3b3;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-transition: background 0.2s ease;
  -o-transition: background 0.2s ease;
  -webkit-transition: background 0.2s ease;
  transition: background 0.2s ease;
}
/* line 56, ../sass/components/blocks/_navHeader.scss */
nav.nav_header_homepage .language a:hover, nav.nav_header_homepage .language a.current {
  background: #b3b3b3;
  color: white;
  -moz-transition: background 0.2s ease;
  -o-transition: background 0.2s ease;
  -webkit-transition: background 0.2s ease;
  transition: background 0.2s ease;
}

/* line 5, ../sass/components/blocks/_ctaBuy.scss */
.cta_buy {
  background: url(../images/bkg_cta_buy.png) no-repeat 50% 50% white;
  min-height: 530px;
}
/* line 26, ../sass/components/blocks/_ctaBuy.scss */
.cta_buy .lunch .title, .cta_buy .break .title {
  font-size: 26px;
  font-weight: bold;
  margin-top: 120px;
  margin-bottom: 15px;
}
/* line 37, ../sass/components/blocks/_ctaBuy.scss */
.cta_buy .lunch .content, .cta_buy .break .content {
  font-size: 16px;
  margin-bottom: 45px;
}

/* line 5, ../sass/components/blocks/_boostedAfternoon.scss */
.boosted_afternoon {
  background: url(../images/bkg_boosted_afternoon.png) no-repeat 50% 0 #8d3b7a;
  padding-top: 200px;
  position: relative;
}
/* line 10, ../sass/components/blocks/_boostedAfternoon.scss */
.boosted_afternoon:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 160px;
  bottom: 0px;
  background: white;
  z-index: 100;
}

/* line 21, ../sass/components/blocks/_boostedAfternoon.scss */
.monbentoKids_home_en .boosted_afternoon {
  background: url(../images/bkg_boosted_afternoon_en.png) no-repeat 50% 0 #8d3b7a;
}

/* line 25, ../sass/components/blocks/_boostedAfternoon.scss */
.embed_video {
  max-width: 890px;
  width: 90%;
  padding: 10px;
  background: white;
  margin: 0 auto;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: #3f4040 0 0 5px 0;
  -webkit-box-shadow: #3f4040 0 0 5px 0;
  box-shadow: #3f4040 0 0 5px 0;
  position: relative;
  z-index: 110;
}
/* line 36, ../sass/components/blocks/_boostedAfternoon.scss */
.embed_video:after {
  content: "";
  position: absolute;
  bottom: -35px;
  width: 890px;
  height: 35px;
  background: url(../images/bkg_after_embed_video.png) no-repeat 50% 0 transparent;
}

/* line 5, ../sass/components/blocks/_rainbowSlide.scss */
.rainbow_slide {
  background: url(../images/bkg_rainbow_of_fun.png) no-repeat 50% 80px;
  padding-top: 285px;
}

/* line 15, ../sass/components/blocks/_rainbowSlide.scss */
.monbentoKids_home_en .rainbow_slide {
  background: url(../images/bkg_rainbow_of_fun_en.png) no-repeat 50% 80px;
}

/* line 24, ../sass/components/blocks/_rainbowSlide.scss */
.rainbow_bxlider_container {
  max-width: 900px;
  width: 95%;
  margin: 0 auto;
}
/* line 30, ../sass/components/blocks/_rainbowSlide.scss */
.rainbow_bxlider_container .rainbow_bxlider_startr img {
  display: block;
  width: 100%;
}
/* line 36, ../sass/components/blocks/_rainbowSlide.scss */
.rainbow_bxlider_container .bx-controls {
  bottom: 84px;
  position: relative;
  z-index: 200;
}
/* line 46, ../sass/components/blocks/_rainbowSlide.scss */
.rainbow_bxlider_container .bx-pager {
  width: 205px;
  height: 60px;
  margin: 0 auto;
  background: url(../images/bkg_controls_slide.png) no-repeat 50% 50%;
  text-align: center;
}
/* line 54, ../sass/components/blocks/_rainbowSlide.scss */
.rainbow_bxlider_container .bx-pager .bx-pager-item:nth-child(1) a {
  background: #ff4795;
}
/* line 58, ../sass/components/blocks/_rainbowSlide.scss */
.rainbow_bxlider_container .bx-pager .bx-pager-item:nth-child(1) a:hover, .rainbow_bxlider_container .bx-pager .bx-pager-item:nth-child(1) a.active {
  border-color: #ff4795;
}
/* line 65, ../sass/components/blocks/_rainbowSlide.scss */
.rainbow_bxlider_container .bx-pager .bx-pager-item:nth-child(2) a {
  background: #ffd600;
}
/* line 69, ../sass/components/blocks/_rainbowSlide.scss */
.rainbow_bxlider_container .bx-pager .bx-pager-item:nth-child(2) a:hover, .rainbow_bxlider_container .bx-pager .bx-pager-item:nth-child(2) a.active {
  border-color: #ffd600;
}
/* line 76, ../sass/components/blocks/_rainbowSlide.scss */
.rainbow_bxlider_container .bx-pager .bx-pager-item:nth-child(3) a {
  background: #c3d500;
}
/* line 80, ../sass/components/blocks/_rainbowSlide.scss */
.rainbow_bxlider_container .bx-pager .bx-pager-item:nth-child(3) a:hover, .rainbow_bxlider_container .bx-pager .bx-pager-item:nth-child(3) a.active {
  border-color: #c3d500;
}
/* line 87, ../sass/components/blocks/_rainbowSlide.scss */
.rainbow_bxlider_container .bx-pager .bx-pager-item:nth-child(4) a {
  background: #4dc1df;
}
/* line 91, ../sass/components/blocks/_rainbowSlide.scss */
.rainbow_bxlider_container .bx-pager .bx-pager-item:nth-child(4) a:hover, .rainbow_bxlider_container .bx-pager .bx-pager-item:nth-child(4) a.active {
  border-color: #4dc1df;
}
/* line 98, ../sass/components/blocks/_rainbowSlide.scss */
.rainbow_bxlider_container .bx-pager-item {
  display: inline-block;
  margin: 0 5px;
  padding-top: 20px;
}
/* line 103, ../sass/components/blocks/_rainbowSlide.scss */
.rainbow_bxlider_container .bx-pager-item a {
  display: block;
  text-indent: -9999px;
  background: grey;
  width: 11px;
  height: 11px;
  border: solid 5px white;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: #3f4040 0 0 1px 0;
  -webkit-box-shadow: #3f4040 0 0 1px 0;
  box-shadow: #3f4040 0 0 1px 0;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/* line 114, ../sass/components/blocks/_rainbowSlide.scss */
.rainbow_bxlider_container .bx-pager-item a:hover, .rainbow_bxlider_container .bx-pager-item a.active {
  border: solid 5px grey;
  -moz-box-shadow: rgba(63, 64, 64, 0) 0 0 1px 0;
  -webkit-box-shadow: rgba(63, 64, 64, 0) 0 0 1px 0;
  box-shadow: rgba(63, 64, 64, 0) 0 0 1px 0;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

/* line 123, ../sass/components/blocks/_rainbowSlide.scss */
.rainbow_bxlider_startr {
  margin: 0;
  padding: 0;
}

/* line 5, ../sass/components/blocks/_customBox.scss */
.custom_box {
  background: url(../images/bkg_custom_box.png) no-repeat 50% 240px #f4f6f8;
  padding-top: 60px;
  padding-bottom: 40px;
}
/* line 10, ../sass/components/blocks/_customBox.scss */
.custom_box .cd-image-label {
  font-family: "dirty_headlineregular", "Oswald", sans-serif, sans-serif;
  font-size: 30px;
  color: #3f4040;
  background: white;
  padding: 5px 15px;
  height: 40px;
  display: block;
  position: absolute;
  top: 40px;
}
/* line 31, ../sass/components/blocks/_customBox.scss */
.custom_box .cd-handle {
  background: url("../images/cd-arrows-grey.svg") no-repeat 50% 50% white;
}
/* line 35, ../sass/components/blocks/_customBox.scss */
.custom_box .cd-handle.draggable {
  background: url("../images/cd-arrows.svg") no-repeat 50% 50% #8d3b7a;
}
/* line 39, ../sass/components/blocks/_customBox.scss */
.custom_box .cd-resize-img {
  -moz-box-shadow: #ff6f0b 5px 0 20px 5px;
  -webkit-box-shadow: #ff6f0b 5px 0 20px 5px;
  box-shadow: #ff6f0b 5px 0 20px 5px;
}
/* line 43, ../sass/components/blocks/_customBox.scss */
.custom_box .cd-image-container {
  overflow: hidden;
}
/* line 47, ../sass/components/blocks/_customBox.scss */
.custom_box img {
  max-width: 100%;
}
/* line 51, ../sass/components/blocks/_customBox.scss */
.custom_box .cd-resize-img img {
  max-width: inherit;
}

/* line 56, ../sass/components/blocks/_customBox.scss */
.btn_download_buy {
  max-width: 900px;
  margin: 33px auto 0;
  text-align: center;
  position: relative;
}
/* line 6, ../sass/components/modules/_mixin.scss */
.btn_download_buy:after {
  content: "";
  display: table;
  clear: both;
}
/* line 12, ../sass/components/modules/_mixin.scss */
.btn_download_buy:before, .btn_download_buy:after {
  content: "";
  display: table;
}
/* line 16, ../sass/components/modules/_mixin.scss */
.btn_download_buy:before:after, .btn_download_buy:after:after {
  clear: both;
}
/* line 17, ../sass/components/modules/_mixin.scss */
.btn_download_buy:before, .btn_download_buy:after {
  *zoom: 1;
}
/* line 63, ../sass/components/blocks/_customBox.scss */
.btn_download_buy .btn_download, .btn_download_buy .btn_buy {
  position: relative;
  z-index: 100;
}
/* line 72, ../sass/components/blocks/_customBox.scss */
.btn_download_buy .btn {
  padding: 18px 7px;
  width: 100%;
}
/* line 81, ../sass/components/blocks/_customBox.scss */
.btn_download_buy .btn_separator {
  font-family: "dirty_headlineregular", "Oswald", sans-serif, sans-serif;
  font-size: 30px;
  color: #3f4040;
}
/* line 87, ../sass/components/blocks/_customBox.scss */
.btn_download_buy p {
  color: #3f4040;
  font-size: 18px;
  margin: 10px 0 0;
}
/* line 93, ../sass/components/blocks/_customBox.scss */
.btn_download_buy .item_bon_point, .btn_download_buy .item_mot_doux {
  position: absolute;
  width: 200px;
  height: 180px;
  z-index: 90;
  top: -165px;
}
/* line 105, ../sass/components/blocks/_customBox.scss */
.btn_download_buy .item_bon_point {
  background: url(../images/bkg_bon_point.png) no-repeat;
  left: -50px;
}
/* line 114, ../sass/components/blocks/_customBox.scss */
.btn_download_buy .item_mot_doux {
  background: url(../images/bkg_mot_doux.png) no-repeat;
  right: -50px;
}

/* line 124, ../sass/components/blocks/_customBox.scss */
.monbentoKids_home_en .item_bon_point {
  background: url(../images/bkg_bon_point_en.png) no-repeat;
}

/* line 128, ../sass/components/blocks/_customBox.scss */
.monbentoKids_home_en .item_mot_doux {
  background: url(../images/bkg_mot_doux_en.png) no-repeat;
}

/* line 5, ../sass/components/blocks/_yourGames.scss */
.your_game {
  padding-top: 60px;
  padding-bottom: 40px;
}
/* line 9, ../sass/components/blocks/_yourGames.scss */
.your_game .title {
  margin-bottom: 45px !important;
}
/* line 13, ../sass/components/blocks/_yourGames.scss */
.your_game .triptic_content {
  max-width: 900px;
  margin: 0 auto;
}
/* line 6, ../sass/components/modules/_mixin.scss */
.your_game .triptic_content:after {
  content: "";
  display: table;
  clear: both;
}
/* line 12, ../sass/components/modules/_mixin.scss */
.your_game .triptic_content:before, .your_game .triptic_content:after {
  content: "";
  display: table;
}
/* line 16, ../sass/components/modules/_mixin.scss */
.your_game .triptic_content:before:after, .your_game .triptic_content:after:after {
  clear: both;
}
/* line 17, ../sass/components/modules/_mixin.scss */
.your_game .triptic_content:before, .your_game .triptic_content:after {
  *zoom: 1;
}
/* line 24, ../sass/components/blocks/_yourGames.scss */
.your_game .triptic_content .thumb {
  border: solid 10px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  max-width: 240px;
  max-height: 240px;
  overflow: hidden;
  margin: 0 auto 25px;
  -moz-box-shadow: transparent 0 0 0 10px;
  -webkit-box-shadow: transparent 0 0 0 10px;
  box-shadow: transparent 0 0 0 10px;
  -moz-transition: border 0.2s ease;
  -o-transition: border 0.2s ease;
  -webkit-transition: border 0.2s ease;
  transition: border 0.2s ease;
}
/* line 34, ../sass/components/blocks/_yourGames.scss */
.your_game .triptic_content .thumb:hover {
  border: solid 20px;
  -moz-transition: border 0.2s ease;
  -o-transition: border 0.2s ease;
  -webkit-transition: border 0.2s ease;
  transition: border 0.2s ease;
}
/* line 39, ../sass/components/blocks/_yourGames.scss */
.your_game .triptic_content .thumb img {
  display: block;
  width: 100%;
}
/* line 46, ../sass/components/blocks/_yourGames.scss */
.your_game .triptic_content .triptic_pink .thumb {
  border-color: #a60063;
}
/* line 52, ../sass/components/blocks/_yourGames.scss */
.your_game .triptic_content .triptic_green .thumb {
  border-color: #c3d500;
}
/* line 58, ../sass/components/blocks/_yourGames.scss */
.your_game .triptic_content .triptic_yellow .thumb {
  border-color: #e97200;
}
/* line 63, ../sass/components/blocks/_yourGames.scss */
.your_game .triptic_content .title {
  font-size: 28px;
  margin-bottom: 25px !important;
}
/* line 68, ../sass/components/blocks/_yourGames.scss */
.your_game .triptic_content .content, .your_game .triptic_content .quote {
  max-width: 240px;
  margin: 0 auto;
  display: block;
  text-align: center;
  line-height: 25px;
}
/* line 76, ../sass/components/blocks/_yourGames.scss */
.your_game .triptic_content .content {
  font-size: 15px;
  margin-bottom: 25px;
}
/* line 81, ../sass/components/blocks/_yourGames.scss */
.your_game .triptic_content .quote {
  font-family: "Sofia", cursive;
}

/* line 6, ../sass/components/blocks/_simpleThings.scss */
.simple_things_grey {
  background: #f4f6f8;
}

/* line 8, ../sass/components/blocks/_simpleThings.scss */
.simple_things {
  color: #3f4040;
}
/* line 15, ../sass/components/blocks/_simpleThings.scss */
.simple_things .row_dot_game {
  background: url(../images/bkg_dot_game.png) no-repeat -100px 0;
  min-height: 430px;
}
/* line 23, ../sass/components/blocks/_simpleThings.scss */
.simple_things .row_dot_game .title {
  margin: 40px 0 70px !important;
}
/* line 32, ../sass/components/blocks/_simpleThings.scss */
.simple_things .row_paper_mask {
  background: url(../images/bkg_paper_mask.png) no-repeat 130% 0;
  min-height: 265px;
  padding-top: 55px;
}
/* line 46, ../sass/components/blocks/_simpleThings.scss */
.simple_things .row_recette {
  background: url(../images/bkg_recette.png) no-repeat;
  min-height: 455px;
  padding-top: 40px;
}
/* line 72, ../sass/components/blocks/_simpleThings.scss */
.simple_things .inner_title {
  font-size: 24px;
  margin-bottom: 25px;
  font-weight: 700;
  text-transform: uppercase;
}
/* line 79, ../sass/components/blocks/_simpleThings.scss */
.simple_things ul {
  padding: 0;
  margin: 0 0 25px;
  list-style: none;
}
/* line 84, ../sass/components/blocks/_simpleThings.scss */
.simple_things ul li {
  margin-bottom: 15px;
  font-size: 14px;
  position: relative;
  padding-left: 15px;
}
/* line 90, ../sass/components/blocks/_simpleThings.scss */
.simple_things ul li:before {
  content: ">";
  position: absolute;
  left: 0;
}

/* line 5, ../sass/components/blocks/_gift.scss */
.gift {
  background: url(../images/bkg_gift.jpg) repeat-x 50% 0;
  min-height: 470px;
}
/* line 14, ../sass/components/blocks/_gift.scss */
.gift .container {
  background: url(../images/bkg_container_gift.png) no-repeat 50% 20px;
  padding-top: 340px;
  text-align: center;
}
/* line 25, ../sass/components/blocks/_gift.scss */
.gift .btn {
  border: solid 2px white;
  padding-top: 25px;
  padding-bottom: 25px;
}

/* line 37, ../sass/components/blocks/_gift.scss */
.monbentoKids_home_en .gift .container {
  background: url(../images/bkg_container_gift_en.png) no-repeat 50% 20px;
}

@media only screen and (min-width: 870px) {
  /* line 5, ../sass/components/blocks/_animalsTabs.scss */
  .animaltabs {
    background: url(../../styles/images/bkg_animals.jpg) no-repeat 50% 50%;
    min-height: 635px;
  }
}
/* line 11, ../sass/components/blocks/_animalsTabs.scss */
.animaltabs .row-tab {
  text-align: center;
}
/* line 14, ../sass/components/blocks/_animalsTabs.scss */
.animaltabs .row-tab #page-title {
  padding-top: 50px;
}
@media only screen and (min-width: 680px) and (max-width: 869px) {
  /* line 18, ../sass/components/blocks/_animalsTabs.scss */
  .animaltabs .row-tab .row-animals div.content {
    width: 20%;
    min-width: 130px;
  }
}
@media only screen and (max-width: 679px) {
  /* line 18, ../sass/components/blocks/_animalsTabs.scss */
  .animaltabs .row-tab .row-animals div.content {
    display: table;
    width: 100%;
    min-width: 130px;
  }
}
@media only screen and (min-width: 680px) {
  /* line 31, ../sass/components/blocks/_animalsTabs.scss */
  .animaltabs .row-tab .tab {
    display: inline-block;
    min-width: 129px;
    min-height: 129px;
    color: white;
    text-align: center;
    font-size: 16px;
    border-radius: 50%;
  }
  /* line 41, ../sass/components/blocks/_animalsTabs.scss */
  .animaltabs .row-tab .tab img {
    border-radius: 50%;
    box-shadow: 2px 3px 3px #aaa;
  }
  /* line 46, ../sass/components/blocks/_animalsTabs.scss */
  .animaltabs .row-tab .tab .background {
    display: inline-block;
    position: absolute;
    width: 129px;
    height: 130px;
    background-color: #8c3b7a;
    border-radius: 50%;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
  }
  /* line 60, ../sass/components/blocks/_animalsTabs.scss */
  .animaltabs .row-tab .tab .background .title {
    font-family: dirty_headlineregular, Oswald, sans-serif, sans-serif;
    font-size: 24px;
    display: block;
    margin: 0;
    margin-top: 22%;
    margin-bottom: 7%;
    color: white;
  }
}
@media only screen and (min-width: 680px) and (max-width: 1140px) {
  /* line 60, ../sass/components/blocks/_animalsTabs.scss */
  .animaltabs .row-tab .tab .background .title {
    margin-top: 20%;
    margin-bottom: 2%;
  }
}
@media only screen and (min-width: 680px) {
  /* line 77, ../sass/components/blocks/_animalsTabs.scss */
  .animaltabs .row-tab .tab:hover {
    cursor: pointer;
  }
  /* line 80, ../sass/components/blocks/_animalsTabs.scss */
  .animaltabs .row-tab .tab:hover .background {
    opacity: 1;
  }
}
@media only screen and (min-width: 680px) and (min-width: 870px) {
  /* line 85, ../sass/components/blocks/_animalsTabs.scss */
  .animaltabs .row-tab .tab-flamand, .animaltabs .row-tab .tab-perroquet {
    margin-top: 120px;
  }
}
@media only screen and (min-width: 680px) and (min-width: 870px) {
  /* line 91, ../sass/components/blocks/_animalsTabs.scss */
  .animaltabs .row-tab .tab-tigre {
    margin-top: 80px;
  }
}
@media only screen and (min-width: 680px) {
  /* line 98, ../sass/components/blocks/_animalsTabs.scss */
  .animaltabs .row-tab .tab-singe img, .animaltabs .row-tab .tab-lion img {
    width: 129px;
    height: 129px;
  }
}
@media only screen and (min-width: 680px) and (min-width: 1140px) {
  /* line 98, ../sass/components/blocks/_animalsTabs.scss */
  .animaltabs .row-tab .tab-singe img, .animaltabs .row-tab .tab-lion img {
    width: 140px;
    height: 140px;
  }
}
@media only screen and (min-width: 680px) and (min-width: 1140px) {
  /* line 97, ../sass/components/blocks/_animalsTabs.scss */
  .animaltabs .row-tab .tab-singe, .animaltabs .row-tab .tab-lion {
    background-size: 140px 140px;
    min-height: 140px;
  }
}
@media only screen and (min-width: 680px) and (min-width: 1140px) {
  /* line 110, ../sass/components/blocks/_animalsTabs.scss */
  .animaltabs .row-tab .tab-singe .background, .animaltabs .row-tab .tab-lion .background {
    width: 140px;
    height: 141px;
  }
}
@media only screen and (min-width: 680px) {
  /* line 119, ../sass/components/blocks/_animalsTabs.scss */
  .animaltabs .row-tab .tab-flamand img, .animaltabs .row-tab .tab-tigre img, .animaltabs .row-tab .tab-perroquet img {
    width: 129px;
    height: 129px;
  }
}
@media only screen and (min-width: 680px) and (min-width: 1140px) {
  /* line 119, ../sass/components/blocks/_animalsTabs.scss */
  .animaltabs .row-tab .tab-flamand img, .animaltabs .row-tab .tab-tigre img, .animaltabs .row-tab .tab-perroquet img {
    width: 170px;
    height: 170px;
  }
}
@media only screen and (min-width: 680px) and (min-width: 1140px) {
  /* line 118, ../sass/components/blocks/_animalsTabs.scss */
  .animaltabs .row-tab .tab-flamand, .animaltabs .row-tab .tab-tigre, .animaltabs .row-tab .tab-perroquet {
    background-size: 170px 170px;
    min-height: 170px;
  }
}
@media only screen and (min-width: 680px) and (min-width: 1140px) {
  /* line 131, ../sass/components/blocks/_animalsTabs.scss */
  .animaltabs .row-tab .tab-flamand .background, .animaltabs .row-tab .tab-tigre .background, .animaltabs .row-tab .tab-perroquet .background {
    width: 170px;
    height: 171px;
  }
}

@media only screen and (max-width: 679px) {
  /* line 142, ../sass/components/blocks/_animalsTabs.scss */
  .animaltabs .tab {
    display: table;
    position: relative;
    margin-bottom: 15px;
    max-height: 130px;
    font-size: 16px;
    text-align: left;
    background: no-repeat left;
  }
  /* line 6, ../sass/components/modules/_mixin.scss */
  .animaltabs .tab:after {
    content: "";
    display: table;
    clear: both;
  }
  /* line 12, ../sass/components/modules/_mixin.scss */
  .animaltabs .tab:before, .animaltabs .tab:after {
    content: "";
    display: table;
  }
  /* line 16, ../sass/components/modules/_mixin.scss */
  .animaltabs .tab:before:after, .animaltabs .tab:after:after {
    clear: both;
  }
  /* line 17, ../sass/components/modules/_mixin.scss */
  .animaltabs .tab:before, .animaltabs .tab:after {
    *zoom: 1;
  }
  /* line 152, ../sass/components/blocks/_animalsTabs.scss */
  .animaltabs .tab img {
    display: inline-block;
    position: absolute;
    float: left;
    left: 0;
    width: 29%;
    min-width: 129px;
    max-width: 129px;
    height: 129px;
    border-radius: 50%;
    box-shadow: 2px 3px 3px #aaa;
  }
  /* line 165, ../sass/components/blocks/_animalsTabs.scss */
  .animaltabs .tab .background {
    display: table-cell;
    height: 130px;
    padding-left: 140px;
    vertical-align: middle;
  }
  /* line 171, ../sass/components/blocks/_animalsTabs.scss */
  .animaltabs .tab .background .title {
    font-family: dirty_headlineregular, Oswald, sans-serif, sans-serif;
    font-size: 24px;
    margin: 0;
  }
}
/* line 180, ../sass/components/blocks/_animalsTabs.scss */
.animaltabs .btn {
  margin-top: 20px;
  margin-bottom: 20px;
}
