<?xml version="1.0"?>
<config>
	<modules>
		<Altiplano_NoRegionNbOrder>
			<version>0.1.0</version>
		</Altiplano_NoRegionNbOrder>
	</modules>
	<global>
	  <events>
      <sales_order_save_after>
        <observers>
          <altiplano_noregion_nborder_save>
            <type>singleton</type>
            <class>Altiplano_NoRegionNbOrder_Model_Observer</class>
            <method>eventSave</method>
          </altiplano_noregion_nborder_save>
        </observers>
      </sales_order_save_after>
    </events>
    <helpers>
      <directory>
        <rewrite>
          <data>Altiplano_NoRegionNbOrder_Helper_Directory_Data</data>
        </rewrite>
      </directory>
    </helpers>
    <models>
      <adminhtml>
        <rewrite>
		      <customer_renderer_region>Altiplano_NoRegionNbOrder_Model_Customer_Renderer_Region</customer_renderer_region>
		    </rewrite>
		  </adminhtml>
      <customer>
        <rewrite>
          <address>Altiplano_NoRegionNbOrder_Model_Customer_Address</address>
        </rewrite>
      </customer>
      <sales>
        <rewrite>
          <quote_address>Altiplano_NoRegionNbOrder_Model_Sales_Quote_Address</quote_address>
          <order_address>Altiplano_NoRegionNbOrder_Model_Sales_Order_Address</order_address>
        </rewrite>
      </sales>
    </models>
    <blocks>
      <adminhtml>
				<rewrite>
					<customer_grid>Altiplano_NoRegionNbOrder_Block_Customer_Grid</customer_grid>
					<customer_edit_renderer_region>Altiplano_NoRegionNbOrder_Block_Customer_Edit_Renderer_Region</customer_edit_renderer_region>
					<customer_edit_tab_view>Altiplano_NoRegionNbOrder_Block_Customer_Edit_Tab_View</customer_edit_tab_view>
				</rewrite>
			</adminhtml>
			<customer>
  			<rewrite>
  				<address_edit>Altiplano_NoRegionNbOrder_Block_Customer_Address_Edit</address_edit>
	      </rewrite>
	   </customer>
      <checkout>
				<rewrite>
					<onepage>Altiplano_NoRegionNbOrder_Block_Checkout_Onepage</onepage>
				</rewrite>
			</checkout>
    </blocks>
    <resources>
      <noregion_nborder_setup>
        <setup>
          <module>Altiplano_NoRegionNbOrder</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </noregion_nborder_setup>
    </resources>
  </global>
</config>