<?xml version="1.0"?>
<config>
    <modules>
        <Dbm_Sales>
            <version>0.0.3</version>
        </Dbm_Sales>
    </modules>
    <global>
        <blocks>
            <dbm_sales>
                <class>Dbm_Sales_Block</class>
            </dbm_sales>
           <adminhtml>
                <rewrite>
                    <sales_order_grid>Dbm_Sales_Block_Adminhtml_Order_Grid</sales_order_grid>
                    <report_sales_sales_grid>Dbm_Sales_Block_Adminhtml_Report_Sales_Sales_Grid</report_sales_sales_grid>
                </rewrite>
          </adminhtml>
        </blocks>
        <models>
            <dbm_sales>
                <class>Dbm_Sales_Model</class>
                <resourceModel>dbm_sales_resource</resourceModel>
            </dbm_sales>
            <dbm_sales_resource>
                <class>Dbm_Sales_Model_Resource</class>
                <deprecatedNode>dbm_sales_mysql4</deprecatedNode>
            </dbm_sales_resource>
            <sales_resource>
                <rewrite>
                    <report_order_createdat>Dbm_Sales_Model_Resource_Report_Order_Createdat</report_order_createdat>
                    <report_order_collection>Dbm_Sales_Model_Resource_Report_Order_Collection</report_order_collection>
                </rewrite>
            </sales_resource>
        </models>     
        <resources>
            <dbm_sales_setup>
                <setup>
                    <module>Dbm_Sales</module>
                    <class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </dbm_sales_setup>
        </resources>
        <sales>
            <quote>
                <item>
                    <product_attributes>
                        <cost />
                    </product_attributes>
                </item>
            </quote>
        </sales>
        <events>
            <sales_convert_quote_item_to_order_item>
                <observers>
                    <dbm_sales_sales_convert_quote_item_to_order_item>
                        <type>singleton</type>
                        <class>Dbm_Sales_Model_Observer</class>
                        <method>addCostToSalesOrderItem</method>
                    </dbm_sales_sales_convert_quote_item_to_order_item>
                </observers>
            </sales_convert_quote_item_to_order_item>
        </events>
    </global>
</config>