<?xml version="1.0"?>
<config>
    <modules>
        <Cignex_Paymenttechchase>
            <version>0.1.1</version>
        </Cignex_Paymenttechchase>
    </modules>
    <frontend>
        <translate>
        <modules>
            <Cignex_Paymenttechchase>
               <files>
                    <default>Cignex_Paymenttechchase.csv</default>
                </files>
            </Cignex_Paymenttechchase>
        </modules>
      </translate>
      <routers>
        <paymenttechchase>
            <use>standard</use>
            <args>
                <module>Cignex_paymenttechchase</module>
                <frontName>paymenttechchase</frontName>
            </args>
        </paymenttechchase>
      </routers>
    </frontend>
    <default>
        <payment>
            <paymenttechchase>
                <active>0</active>
                <model>paymenttechchase/paymentMethod</model>
                <order_status>1</order_status>
                <login backend_model="adminhtml/system_config_backend_encrypted" />
                <title>Credit Card (Chase Paymenttech)</title>
                <cctypes>AX,VI,MC,DI</cctypes>
                <cgi_url>https://orbital1.paymenttech.net</cgi_url>
                <debug>0</debug>
                <payment_action>authorize_capture</payment_action>
                <trans_key backend_model="adminhtml/system_config_backend_encrypted" />
                <allowspecific>0</allowspecific>
            </paymenttechchase>
         </payment>
     </default>
    <adminhtml>
        <translate>
            <modules>
                <Cignex_Paymenttechchase>
                    <files>
                        <default>Cignex_Paymenttechchase.csv</default>
                     </files>
                 </Cignex_Paymenttechchase>
              </modules>
           </translate>
    </adminhtml>
    <global>
        <models>
            <paymenttechchase>
                <class>Cignex_Paymenttechchase_Model</class>
                <resourceModel>paymenttechchase_mysql4</resourceModel>
            </paymenttechchase>
            <paymenttechchase_mysql4>
                <class>Cignex_Paymenttechchase_Model_Mysql4</class>
                <entities>
                    <Cignex_debug>
                        <table>chase_paymenttech_debug</table>
                    </Cignex_debug>
                </entities>
            </paymenttechchase_mysql4>
        </models>
        <resources>
            <paymenttechchase_setup>
                <setup>
                    <module>Cignex_Paymenttechchase</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </paymenttechchase_setup>
            <paymenttechchase_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </paymenttechchase_write>
            <paymenttechchase_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </paymenttechchase_read>
        </resources>
        <blocks>
            <paymenttechchase>
                <class>Cignex_Paymenttechchase_Block</class>
            </paymenttechchase>
        </blocks>
        <helpers>
            <paymenttechchase>
                <class>Cignex_Paymenttechchase_Helper</class>
            </paymenttechchase>
        </helpers>
    </global>
</config>
