<?xml version="1.0"?>
      <config>
         <sections>
              <!-- payment tab -->
              <payment>
                  <groups>
                      <!-- newmodule fieldset -->
                      <paymenttechchase translate="label" module="paymenttechchase">
                          <!-- will have title 'New Module' -->
                          <label>Chase Paymenttech</label>
                          <!-- position between other payment methods -->
                          <sort_order>670</sort_order>
                            <!-- do not show this configuration options in store scope -->
                          <show_in_default>1</show_in_default>
                          <show_in_website>1</show_in_website>
                          <show_in_store>1</show_in_store>
                          <fields>
                              <!-- is this payment method active for the website? -->
                              <active translate="label">
                                   <!-- label for the field -->
                                  <label>Enabled</label>
                                     <!-- input type for configuration value -->
                                  <frontend_type>select</frontend_type>
                                     <!-- model to take the option values from -->
                                  <source_model>adminhtml/system_config_source_yesno</source_model>
                                       <!-- field position -->
                                  <sort_order>1</sort_order>
                                <!-- do not show this field in store scope -->
                                  <show_in_default>1</show_in_default>
                                  <show_in_website>1</show_in_website>
                                  <show_in_store>1</show_in_store>
                              </active>
                              <title translate="label">
                                  <label>Title</label>
                                  <frontend_type>text</frontend_type>
                                  <sort_order>2</sort_order>
                                  <show_in_default>1</show_in_default>
                                  <show_in_website>1</show_in_website>
                                  <show_in_store>1</show_in_store>
                              </title>
                              <order_status translate="label">
                                  <label>New order status</label>
                                  <frontend_type>select</frontend_type>
                                    <source_model>adminhtml/system_config_source_order_status_processing</source_model>
                                  <sort_order>3</sort_order>
                                  <show_in_default>1</show_in_default>
                                  <show_in_website>1</show_in_website>
                                  <show_in_store>1</show_in_store>
                              </order_status>
                              <cgi_url translate="label">
                                  <label>Gateway URL</label>
                                  <frontend_type>text</frontend_type>
                                  <sort_order>4</sort_order>
                                  <show_in_default>1</show_in_default>
                                  <show_in_website>1</show_in_website>
                                  <show_in_store>1</show_in_store>
                            </cgi_url>
                            <user_id translate="label">
                                  <label>User ID</label>
                                  <frontend_type>text</frontend_type>
                                  <sort_order>5</sort_order>
                                  <show_in_default>1</show_in_default>
                                  <show_in_website>1</show_in_website>
                                  <show_in_store>1</show_in_store>
                            </user_id>
                            <password translate="label">
                                  <label>Password</label>
                                  <frontend_type>password</frontend_type>
                                  <sort_order>6</sort_order>
                                  <show_in_default>1</show_in_default>
                                  <show_in_website>1</show_in_website>
                                  <show_in_store>1</show_in_store>
                            </password>
                            <merchant_id translate="label">
                                  <label>Merchant ID</label>
                                  <frontend_type>text</frontend_type>
                                  <sort_order>7</sort_order>
                                  <show_in_default>1</show_in_default>
                                  <show_in_website>1</show_in_website>
                                  <show_in_store>1</show_in_store>
                            </merchant_id>
                            <terminal_id translate="label">
                                  <label>Terminal ID</label>
                                  <frontend_type>text</frontend_type>
                                  <sort_order>8</sort_order>
                                  <show_in_default>1</show_in_default>
                                  <show_in_website>1</show_in_website>
                                  <show_in_store>1</show_in_store>
                             </terminal_id>
                             <bin_no translate="label">
                                  <label>BIN ID</label>
                                  <frontend_type>text</frontend_type>
                                  <sort_order>9</sort_order>
                                  <show_in_default>1</show_in_default>
                                  <show_in_website>1</show_in_website>
                                  <show_in_store>1</show_in_store>
                             </bin_no>
                             <debug translate="label">
                                  <label>Debug</label>
                                  <frontend_type>select</frontend_type>
                                 <source_model>adminhtml/system_config_source_yesno</source_model>
                                 <sort_order>10</sort_order>
                                 <show_in_default>1</show_in_default>
                                 <show_in_website>1</show_in_website>
                                 <show_in_store>1</show_in_store>
                             </debug>
                             <profile translate="label">
                              <label>Use Profile</label>
                              <frontend_type>select</frontend_type>
                             <source_model>adminhtml/system_config_source_yesno</source_model>
                             <sort_order>11</sort_order>
                             <show_in_default>1</show_in_default>
                             <show_in_website>1</show_in_website>
                             <show_in_store>1</show_in_store>
                            </profile>
                          </fields>
                      </paymenttechchase>
                  </groups>
              </payment>
          </sections>
      </config>