<?xml version="1.0"?>
<config>
    <modules>
        <Dbm_Catalog>
            <version>0.0.5</version>
        </Dbm_Catalog>
    </modules>
    <global>
        <blocks>
            <dbm_catalog>
                <class>Dbm_Catalog_Block</class>
            </dbm_catalog>
        </blocks>
        <models>
            <dbm_catalog>
                <class>Dbm_Catalog_Model</class>
            </dbm_catalog>
        </models>
        <helpers>
            <dbm_catalog>
                <class>Dbm_Catalog_Helper</class>
            </dbm_catalog>
        </helpers>
        <resources>
            <dbm_catalog_setup>
                <setup>
                    <module>Dbm_Catalog</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </dbm_catalog_setup>
        </resources>
        <events>
            <catalog_controller_product_init>
                <observers>
                    <dbm_catalog>
                        <class>Dbm_Catalog_Model_Observer</class>
                        <method>productPredispatchHandler</method>
                    </dbm_catalog>
                </observers>
            </catalog_controller_product_init>
        </events>
    </global>
    <frontend>
        <routers>
            <dbm_catalog_front>
                <use>standard</use>
                <args>
                    <module>Dbm_Catalog</module>
                    <frontName>dbm-catalog</frontName>
                </args>
            </dbm_catalog_front>
        </routers>
    </frontend>
    <admin>
        <routers>
            <dbm_catalog_admin>
                <use>admin</use>
                <args>
                    <module>Dbm_Catalog_Adminhtml</module>
                    <frontName>dbm-catalog-admin</frontName>
                </args>
            </dbm_catalog_admin>
        </routers>
    </admin>
</config>