<?xml version="1.0"?>
<config>
    <modules>
        <Dbm_Customer>
            <version>0.1.9</version>
        </Dbm_Customer>
    </modules>
    <global>
        <blocks>
            <dbm_customer>
                <class>Dbm_Customer_Block</class>
            </dbm_customer>
            <adminhtml>
                <rewrite>
                    <customer_grid>Dbm_Customer_Block_Adminhtml_Customer_Grid</customer_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <dbm_customer>
                <class>Dbm_Customer_Model</class>
                <resourceModel>dbm_customer_mysql4</resourceModel>
            </dbm_customer>
            <dbm_customer_mysql4>
                <class>Dbm_Customer_Model_Mysql4</class>
                <entities>
                    <link><table>dbm_customer_link</table></link>
                </entities>
            </dbm_customer_mysql4>
            <auguria_sponsorship>
                <rewrite>
                    <observer>Dbm_Customer_Model_Auguria_Observer</observer>
                </rewrite>
            </auguria_sponsorship>
        </models>
        <helpers>
            <dbm_customer>
                <class>Dbm_Customer_Helper</class>
            </dbm_customer>
        </helpers>
        <events>
            <controller_action_predispatch>
                <observers>
                    <dbm_customer>
                        <type>singleton</type>
                        <class>Dbm_Customer_Model_Observer</class>
                        <method>predispatchHandler</method>
                    </dbm_customer>
                </observers>
            </controller_action_predispatch>
            <controller_action_layout_load_before>
                <observers>
                    <dbm_customer>
                        <type>singleton</type>
                        <class>Dbm_Customer_Model_Observer</class>
                        <method>layoutLoadHandler</method>
                    </dbm_customer>
                </observers>
            </controller_action_layout_load_before>
            <!-- 
                DEPRECATED
            <sales_quote_add_item>
                <observers>
                    <dbm_customer>
                        <type>singleton</type>
                        <class>Dbm_Customer_Model_Observer</class>
                        <method>updatePrice</method>
                    </dbm_customer>
                </observers>
            </sales_quote_add_item>
            -->
            <dbm_customer_order_success>
                <observers>
                    <dbm_customer>
                        <type>singleton</type>
                        <class>Dbm_Customer_Model_Observer</class>
                        <method>orderSuccessHandler</method>
                    </dbm_customer>
                </observers>
            </dbm_customer_order_success>
            <dbm_customer_order_cancel>
                <observers>
                    <dbm_customer>
                        <type>singleton</type>
                        <class>Dbm_Customer_Model_Observer</class>
                        <method>orderCancelHandler</method>
                    </dbm_customer>
                </observers>
            </dbm_customer_order_cancel>
            <dbm_customer_order_error>
                <observers>
                    <dbm_customer>
                        <type>singleton</type>
                        <class>Dbm_Customer_Model_Observer</class>
                        <method>orderErrorHandler</method>
                    </dbm_customer>
                </observers>
            </dbm_customer_order_error>
            <salesrule_rule_condition_combine>
                <observers>
                    <add_condition_to_sales_rule>
                        <class>dbm_customer/observer</class>
                        <method>addConditionToSalesRule</method>
                    </add_condition_to_sales_rule>
                </observers>
            </salesrule_rule_condition_combine>
            <catalog_controller_category_init_after>
                <observers>
                    <dbm_customer>
                        <class>dbm_customer/observer</class>
                        <method>categoryPredispatchHandler</method>
                    </dbm_customer>
                </observers>
            </catalog_controller_category_init_after>
            <catalog_category_collection_load_after>
                <observers>
                    <dbm_customer>
                        <type>singleton</type>
                        <class>Dbm_Customer_Model_Observer</class>
                        <method>categoryCollectionLoadHandler</method>
                    </dbm_customer>
                </observers>
            </catalog_category_collection_load_after>
            <sales_order_payment_pay>
                <observers>
                    <dbm_customer>
                        <type>singleton</type>
                        <class>dbm_customer/observer</class>
                        <method>payHandler</method>
                    </dbm_customer>
                </observers>
            </sales_order_payment_pay>
            <customer_save_before>
                <observers>
                    <dbm_customer>
                        <type>singleton</type>
                        <class>dbm_customer/observer</class>
                        <method>customerCreateHandler</method>
                    </dbm_customer>
                </observers>
            </customer_save_before>
            <customer_login>
                <observers>
                    <dbm_customer>
                        <type>singleton</type>
                        <class>dbm_customer/observer</class>
                        <method>loginHandler</method>
                    </dbm_customer>
                </observers>
            </customer_login>
            <controller_action_layout_load_before>
                <observers>
                    <dbm_customer>
                        <type>singleton</type>
                        <class>dbm_customer/observer</class>
                        <method>registerSuccessHandler</method>
                    </dbm_customer>
                </observers>
            </controller_action_layout_load_before>
            <customer_address_save_before>
                <observers>
                    <dbm_customer>
                        <type>singleton</type>
                        <class>dbm_customer/observer</class>
                        <method>beforeAddressSave</method>
                    </dbm_customer>
                </observers>
            </customer_address_save_before>
        </events>
        <resources>
            <dbm_customer_setup>
                <setup>
                    <module>Dbm_Customer</module>
                    <class>Mage_Customer_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </dbm_customer_setup>
        </resources>
        <rewrite>
            <dbm_customer_return>
                <from><![CDATA[#^/vads/standard#]]></from>
                <to>/dbm-systempay/standard</to>
            </dbm_customer_return>
            <dbm_customer_cybermut>
                <from><![CDATA[#^/cybermut/payment#]]></from>
                <to>/dbm-cybermut/payment</to>
            </dbm_customer_cybermut>
            <dbm_customer_paypal>
                <from><![CDATA[#^/paypal/standard#]]></from>
                <to>/dbm-paypal/paypal</to>
            </dbm_customer_paypal>
            <dbm_customer_auguria_points>
                <from><![CDATA[#^/sponsorship/points#]]></from>
                <to>/dbm-customer/auguria_points</to>
            </dbm_customer_auguria_points>
            <dbm_customer_password>
                <from><![CDATA[#^/customer/account/forgotpasswordpost#]]></from>
                <to>dbm-customer/customer_account/forgotpasswordpost</to>
            </dbm_customer_password>
            <dbm_customer_register>
                <from><![CDATA[#^/customer/account/createpost#]]></from>
                <to>dbm-customer/customer_account/createpost</to>
            </dbm_customer_register>
        </rewrite>
    </global>
    <frontend>
        <translate>
            <modules>
                <Dbm_Customer>
                    <files>
                        <default>Dbm_All.csv</default>
                    </files>
                </Dbm_Customer>
            </modules>
        </translate>
        <routers>
            <dbm_customer_front>
                <use>standard</use>
                <args>
                    <module>Dbm_Customer</module>
                    <frontName>dbm-customer</frontName>
                </args>
            </dbm_customer_front>
            <dbm_customer_public>
                <use>standard</use>
                <args>
                    <module>Dbm_Customer</module>
                    <frontName>club-customer</frontName>
                </args>
            </dbm_customer_public>
            <dbm_customer_systempay>
                <use>standard</use>
                <args>
                    <module>Dbm_Customer</module>
                    <frontName>dbm-systempay</frontName>
                </args>
            </dbm_customer_systempay>
            <dbm_customer_cybermut>
                <use>standard</use>
                <args>
                    <module>Dbm_Customer</module>
                    <frontName>dbm-cybermut</frontName>
                </args>
            </dbm_customer_cybermut>
            <dbm_customer_paypal>
                <use>standard</use>
                <args>
                    <module>Dbm_Customer</module>
                    <frontName>dbm-paypal</frontName>
                </args>
            </dbm_customer_paypal>
        </routers>
        <layout>
            <updates>
                <dbm_customer module="Dbm_Customer">
                    <file>dbm/customer.xml</file>
                </dbm_customer>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <dbm_customer_admin>
                <use>admin</use>
                <args>
                    <module>Dbm_Customer_Adminhtml</module>
                    <frontName>dbm-customer-admin</frontName>
                </args>
            </dbm_customer_admin>
        </routers>
    </admin>
    <crontab>
        <jobs>
            <dbm_customer>
                <schedule><cron_expr>0 23 * * *</cron_expr></schedule>
                <run><model>dbm_share/observer::birthdayCronHandler</model></run>
            </dbm_customer>
        </jobs>
    </crontab>
</config>
