<?xml version="1.0"?>
<config>
    <modules>
      	<Monbento_Site>
          	<version>1.0.8</version>
        </Monbento_Site>
    </modules>
    <global>
        <resources>
            <monbento_site_setup>
                <setup>
                    <module>Monbento_Site</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
            </monbento_site_setup>
        </resources>
        <blocks>
            <monbento_site>
                <class>Monbento_Site_Block</class>
            </monbento_site>
            <adminhtml>
                <rewrite>
                    <customer_edit_tab_view>Monbento_Site_Block_Rewrite_NoRegionNbOrder_Customer_Edit_Tab_View</customer_edit_tab_view>
                    <report_product_sold_grid>Monbento_Site_Block_Adminhtml_Report_Product_Sold_Grid</report_product_sold_grid>
                </rewrite>
            </adminhtml>
            <mageplaza_betterblog>
                <rewrite>
                    <adminhtml_post_edit>Monbento_Site_Block_Rewrite_BetterBlog_Post_Edit</adminhtml_post_edit>
                    <adminhtml_post_edit_form>Monbento_Site_Block_Rewrite_BetterBlog_Post_Edit_Form</adminhtml_post_edit_form>
                </rewrite>
            </mageplaza_betterblog>
            <blog>
                <rewrite>
                    <blog>Monbento_Site_Block_Rewrite_AWBlog_Blog</blog>
                </rewrite>
            </blog>
            <bundle>
                <rewrite>
                    <adminhtml_catalog_product_edit_tab_attributes>Monbento_Site_Block_Rewrite_Bundle_Adminhtml_Catalog_Product_Edit_Tab_Attributes</adminhtml_catalog_product_edit_tab_attributes>
                </rewrite>
            </bundle>
            <catalog>
                <rewrite>
                    <product_list>Monbento_Site_Block_Rewrite_Catalog_Product_List</product_list>
                    <product_list_related>Monbento_Site_Block_Rewrite_Catalog_Product_List_Related</product_list_related>
                </rewrite>
            </catalog>
            <checkout>
                <rewrite>
                    <onepage_billing>Monbento_Site_Block_Rewrite_Checkout_Onepage_Billing</onepage_billing>
                </rewrite>
            </checkout>
            <cms>
                <rewrite>
                    <page>Monbento_Site_Block_Rewrite_Cms_Page</page>
                </rewrite>
            </cms>
            <core>
                <rewrite>
                    <messages>Monbento_Site_Block_Rewrite_Core_Messages</messages>
                </rewrite>
            </core>
            <giftmessage>
                <rewrite>
                    <message_inline>Monbento_Site_Block_Rewrite_GiftMessage_Message_Inline</message_inline>
                </rewrite>
            </giftmessage>
            <page>
                <rewrite>
                    <html_header>Monbento_Site_Block_Rewrite_Page_Html_Header</html_header>
                    <html_topmenu>Monbento_Site_Block_Rewrite_Page_Html_Topmenu</html_topmenu>
                    <html_topmenu_renderer>Monbento_Site_Block_Rewrite_Page_Html_Topmenu_Renderer</html_topmenu_renderer>
                </rewrite>
            </page>
            <ugiftcert>
                <rewrite>
                    <adminhtml_cert_grid>Monbento_Site_Block_Adminhtml_Cert_Grid</adminhtml_cert_grid>
                    <product_type>Monbento_Site_Block_Rewrite_Unirgy_Giftcert_Product_Type</product_type>
                </rewrite>
            </ugiftcert>
        </blocks>
        <helpers>
            <monbento_site>
                <class>Monbento_Site_Helper</class>
            </monbento_site>
            <bundle>
                <rewrite>
                    <catalog_product_configuration>Monbento_Site_Helper_Rewrite_Bundle_Configuration</catalog_product_configuration>
                </rewrite>
            </bundle>
            <configurablebundle>
                <rewrite>
                    <bundle>Monbento_Site_Helper_Rewrite_ConfigurableBundle_Bundle</bundle>
                </rewrite>
            </configurablebundle>
        </helpers>
        <models>
            <monbento_site>
                <class>Monbento_Site_Model</class>
            </monbento_site>
            <bundle>
                <rewrite>
                    <product_price>Monbento_Site_Model_Rewrite_Wizkunde_Product_Price</product_price>
                </rewrite>
            </bundle>
            <catalog>
                <rewrite>
                    <layer_filter_attribute>Monbento_Site_Model_Rewrite_Catalin_SEO_Catalog_Layer_Filter_Attribute</layer_filter_attribute>
                    <product_attribute_backend_media>Monbento_Site_Model_Rewrite_Catalog_Product_Attribute_Backend_Media</product_attribute_backend_media>
                </rewrite>
            </catalog>
            <catalog_resource>
                <rewrite>
                    <product_attribute_backend_media>Monbento_Site_Model_Rewrite_Catalog_Resource_Product_Attribute_Backend_Media</product_attribute_backend_media>
                </rewrite>
            </catalog_resource>
            <dpdfrpredict>
                <rewrite>
                    <carrier_DPDFrancePredictShipping>Monbento_Site_Model_Rewrite_DPDFrance_Predict_Carrier_DPDFrancePredictShipping</carrier_DPDFrancePredictShipping>
                    <owebia>Monbento_Site_Model_Rewrite_DPDFrance_Predict_Owebia</owebia>
                </rewrite>
            </dpdfrpredict>
            <dpdfrrelais>
                <rewrite>
                    <carrier_DPDFranceRelaisShipping>Monbento_Site_Model_Rewrite_DPDFrance_Relais_Carrier_DPDFranceRelaisShipping</carrier_DPDFranceRelaisShipping>
                    <owebia>Monbento_Site_Model_Rewrite_DPDFrance_Relais_Owebia</owebia>
                </rewrite>
            </dpdfrrelais>
            <outofstocksubscription>
                <rewrite>
                    <observer>Monbento_Site_Model_Rewrite_OutofStockSubscription_Observer</observer>
                </rewrite>
            </outofstocksubscription>
            <reports_resource>
                <rewrite>
                    <product_sold_collection>Monbento_Site_Model_Rewrite_Reports_Resource_Product_Sold_Collection</product_sold_collection>
                </rewrite>
            </reports_resource>
            <checkout>
                <rewrite>                    
                    <type_onepage>Monbento_Site_Model_Rewrite_Checkout_Type_Onepage</type_onepage>
                </rewrite>
            </checkout>
            <sales>
                <rewrite>
                    <order_payment>Monbento_Site_Model_Rewrite_Sales_Order_Payment</order_payment>
                </rewrite>
            </sales>
            <socolissimo>
                <rewrite>
                    <flexibilite_service>Monbento_Site_Model_Rewrite_Socolissimo_Flexibilite_Service</flexibilite_service>
                </rewrite>
            </socolissimo>
            <atwix_ipstoreswitcher>
                <rewrite>
                    <observer>Monbento_Site_Model_Rewrite_Atwix_Observer</observer>
                </rewrite>
            </atwix_ipstoreswitcher>
            <usa>
                <rewrite>
                    <shipping_carrier_dhl_international>Monbento_Site_Model_Rewrite_Usa_Shipping_Carrier_Dhl_International</shipping_carrier_dhl_international>
                </rewrite>
            </usa>
        </models>
        <page>
            <layouts>
                <not_found translate="label">
                    <label>404</label>
                    <template>page/404.phtml</template>
                </not_found>
                <shop translate="label">
                    <label>Page shop</label>
                    <template>page/1column.phtml</template>
                    <layout_handle>shop</layout_handle>
                </shop>
                <club translate="label">
                    <label>Club</label>
                    <template>page/club.phtml</template>
                    <layout_handle>club</layout_handle>
                </club>
                <a-propos translate="label">
                    <label>A propos</label>
                    <template>page/1column.phtml</template>
                    <layout_handle>a-propos</layout_handle>
                </a-propos>
                <equipe translate="label">
                    <label>Equipe</label>
                    <template>page/1column.phtml</template>
                    <layout_handle>equipe</layout_handle>
                </equipe>
                <le-saviez-vous translate="label">
                    <label>Le saviez-vous ?</label>
                    <template>page/1column.phtml</template>
                    <layout_handle>le-saviez-vous</layout_handle>
                </le-saviez-vous>
                <made-in-france translate="label">
                    <label>Made in France</label>
                    <template>page/1column.phtml</template>
                    <layout_handle>made-in-france</layout_handle>
                </made-in-france>
                <listing-recrutement translate="label">
                    <label>Listing des offres</label>
                    <template>page/1column.phtml</template>
                    <layout_handle>listing-recrutement</layout_handle>
                </listing-recrutement>
                <faq translate="label">
                    <label>Page FAQ</label>
                    <template>page/1column.phtml</template>
                    <layout_handle>faq</layout_handle>
                </faq>
                <peugeot translate="label">
                    <label>Peugeot</label>
                    <template>page/1column.phtml</template>
                    <layout_handle>peugeot</layout_handle>
                </peugeot>
            </layouts>
        </page>
        <rewrite>
            <monbento_cart>
                <from><![CDATA[#^/dbmAjaxAddToCart/product/#]]></from>
                <to>/monbento-site/cart/</to>
            </monbento_cart>
        </rewrite>
        <events>
            <sales_quote_collect_totals_before>
                <observers>
                    <monbento_shipping_rates>
                        <type>singleton</type>
                        <class>Monbento_Site_Model_Observer</class>
                        <method>salesQuoteCollectTotalsBefore</method>
                    </monbento_shipping_rates>
                </observers>
            </sales_quote_collect_totals_before>
            <sales_order_save_before>
                <observers>
                    <monbento_extra_fields>
                        <type>singleton</type>
                        <class>Monbento_Site_Model_Observer</class>
                        <method>salesSaveOrderExtraFieldsBefore</method>
                    </monbento_extra_fields>
                </observers>
            </sales_order_save_before>
            <sales_order_shipment_save_before>
                <observers>
                    <monbento_extra_fields_shipment>
                        <type>singleton</type>
                        <class>Monbento_Site_Model_Observer</class>
                        <method>salesSaveShipmentExtraFieldsBefore</method>
                    </monbento_extra_fields_shipment>
                </observers>
            </sales_order_shipment_save_before>
            <checkout_controller_onepage_save_shipping_method_paypal>
                <observers>
                    <monbento_shipping_method_observer>
                        <type>singleton</type>
                        <class>Monbento_Site_Model_Observer</class>
                        <method>updateShippingAddressFromPaypalReview</method>
                    </monbento_shipping_method_observer>
                </observers>
            </checkout_controller_onepage_save_shipping_method_paypal>  
            <sales_quote_merge_before>
                <observers>
                    <monbento_quote_merge_observer>
                        <type>singleton</type>
                        <class>Monbento_Site_Model_Observer</class>
                        <method>updateBeforeAuthUrlAfterQuoteMerge</method>
                    </monbento_quote_merge_observer>
                </observers>
            </sales_quote_merge_before>
        </events>
        <sales>
            <order_creditmemo>
                <totals>
                    <tax>
                        <class>monbento_site/order_creditmemo_total_tax</class>
                    </tax>
                </totals>
            </order_creditmemo>
        </sales>
    </global>
    <frontend>
        <routers>
            <monbento>
                <use>standard</use>
                <args>
                    <module>Monbento_Site</module>
                    <frontName>monbento-site</frontName>
                </args>
            </monbento>
            <fontis_recaptcha>
                <args>
                    <modules>
                        <monbento_site before="Fontis_Recaptcha">Monbento_Site_Rewrite_Recaptcha</monbento_site>
                    </modules>
                </args>
            </fontis_recaptcha>
            <facebookfree>
                <args>
                    <modules>
                        <monbento_site before="Belvg_FacebookFree">Monbento_Site_Rewrite_Belvg</monbento_site>
                    </modules>
                </args>
            </facebookfree>
            <newsletter>
                <args>
                    <modules>
                        <monbento_site before="Mage_Newsletter">Monbento_Site_Rewrite_Newsletter</monbento_site>
                    </modules>
                </args>
            </newsletter>
            <paypal>
                <args>
                    <modules>
                        <monbento_site before="Mage_Paypal">Monbento_Site_Rewrite_Paypal</monbento_site>
                    </modules>
                </args>
            </paypal>
                        <customer>
                            <args>
                                <modules>
                                    <monbento_site before="Mage_Customer">Monbento_Site_Rewrite_Customer</monbento_site>
                                </modules>
                            </args>
                        </customer>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <monbento_site before="Mage_Adminhtml">Monbento_Site_Adminhtml</monbento_site>
                        <monbento_site before="DPDFrance_Export_Adminhtml">Monbento_Site_Adminhtml</monbento_site>
                    </modules>
                </args>
            </adminhtml>
            <expeditorinet>
                <args>
                    <modules>
                        <monbento_site before="LaPoste_ExpeditorINet">Monbento_Site_Rewrite_ExpeditorINet</monbento_site>
                    </modules>
                </args>
            </expeditorinet>
            <SLandsbek_SimpleOrderExport>
                <args>
                    <modules>
                        <monbento_site before="SLandsbek_SimpleOrderExport">Monbento_Site_Rewrite</monbento_site>
                    </modules>
                </args>
            </SLandsbek_SimpleOrderExport>
        </routers>
    </admin>
    <adminhtml>
        <cms>
            <browser>
                <extensions>
                    <allowed>
                        <pdf>1</pdf>
                        <svg>1</svg>
                    </allowed>
                    <image_allowed>
                        <pdf>1</pdf>
                        <svg>1</svg>
                    </image_allowed>
                </extensions>
            </browser>
        </cms>
    </adminhtml>
    <stores>
        <admin>
            <design>
                <package>
                    <name>default</name>
                </package>
                <theme>
                    <default>monbento</default>
                </theme>
            </design>
        </admin>
    </stores>
    <crontab>
        <jobs>
            <disable_gift_cert>
                <schedule>
                    <cron_expr>1 */1 * * *</cron_expr>
                </schedule>
                <run>
                    <model>monbento_site/observer::disableOldGiftCert</model>
                </run>
            </disable_gift_cert>
        </jobs>
    </crontab>
    <default>
        <monbento_config>
            <monbento_config_general>
                <monbento_facebook_url>https://www.facebook.com/monbento</monbento_facebook_url>
                <monbento_twitter_url>https://twitter.com/monbento</monbento_twitter_url>
                <monbento_instagram_url>https://www.instagram.com/monbento/</monbento_instagram_url>
                <monbento_pinterest_url>https://fr.pinterest.com/monbento/</monbento_pinterest_url>
            </monbento_config_general>
            <monbento_config_posts>
                <monbento_sliders_home_cat_id>4</monbento_sliders_home_cat_id>
                <monbento_sliders_cat_cat_id>5</monbento_sliders_cat_cat_id>
                <monbento_blocs_promo_home_cat_id>6</monbento_blocs_promo_home_cat_id>
                <monbento_blocs_promo_cat_cat_id>7</monbento_blocs_promo_cat_cat_id>
                <monbento_blocs_promo_shop_cat_id>8</monbento_blocs_promo_shop_cat_id>
                <monbento_blocs_promo_cart_cat_id>9</monbento_blocs_promo_cart_cat_id>
                <monbento_blocs_temoignage_cat_id>10</monbento_blocs_temoignage_cat_id>
                <monbento_blocs_reassurance_cat_id>11</monbento_blocs_reassurance_cat_id>
                <monbento_blocs_adopter_cat_id>12</monbento_blocs_adopter_cat_id>
                <monbento_blocs_presse_cat_id>13</monbento_blocs_presse_cat_id>
                <monbento_blocs_ambassadeur_cat_id>14</monbento_blocs_ambassadeur_cat_id>
                <monbento_blocs_faq_cat_id>15</monbento_blocs_faq_cat_id>
            </monbento_config_posts>
        </monbento_config>
        <monbento_admin_wysiwyg>
            <monbento_config_string>
                <shipping_minimum_amount>4.90</shipping_minimum_amount>
                <bloc_home_products>Nos petits préférés</bloc_home_products>
                <bloc_home_temoignages>Le repas nomade réinventé</bloc_home_temoignages>
                <bloc_home_temoignages_subtitle>pour les amoureux de la liberté qui souhaitent...</bloc_home_temoignages_subtitle>
                <bloc_home_recettes>Lorem ipsum dolor site amet</bloc_home_recettes>
                <bloc_insta>Vos photos la bouche pleine</bloc_insta>
                <bloc_about_chiffre>monbento en chiffre</bloc_about_chiffre>
                <bloc_about_chiffre_subtitle>00000000000 bentos vendus depuis le lancement de la marque</bloc_about_chiffre_subtitle>
            </monbento_config_string>
        </monbento_admin_wysiwyg>
    </default>
</config>
