<?xml version="1.0"?>
<config>
    <modules>
        <Dbm_VeInteractive>
            <version>1.0</version>
        </Dbm_VeInteractive>
    </modules>
    <global>
        <helpers>
            <veinteractive>
                <class>Dbm_VeInteractive_Helper</class>
            </veinteractive>
        </helpers>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <veinteractive translate="title" module="veinteractive">
                                            <title>Ve Interactive</title>
                                            <sort_order>500</sort_order>
                                        </veinteractive>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>