{%block form %}
<form action="{{app.request.basePath}}/" method="post">
    {{ form_widget(form) }}
    <button class="btn-form" type="submit" name="submit" >RECEVOIR BIENTÔT LES 3 ASTUCES</button> 
</form><?php echo 'ohoh'; ?>
{%endblock%}