<?xml version="1.0"?>
<config>
    <modules>
        <Dbm_AjaxAddToCart>
            <version>0.1.0</version>
        </Dbm_AjaxAddToCart>
    </modules>
    <frontend>
        <routers>
            <dbm_ajax>
                <use>standard</use>
                <args>
                    <module>Dbm_AjaxAddToCart</module>
                    <frontName>dbmAjaxAddToCart</frontName>
                </args>
            </dbm_ajax>
        </routers>
        <layout>
            <updates>
                <dbm_addtocart>
                    <file>dbm_ajaxaddtocart.xml</file>
                </dbm_addtocart>
            </updates>
        </layout>
        <translate>
            <modules>
                <Dbm_AjaxAddToCart>
                    <files>
                        <default>Dbm_AjaxAddToCart.csv</default>
                    </files>
                </Dbm_AjaxAddToCart>
            </modules>
        </translate>
    </frontend>   
    <global>
        <blocks>
            <dbm_addtocart>
                <class>Dbm_AjaxAddToCart_Block</class>
            </dbm_addtocart>
        </blocks>
        <helpers>
            <dbm_addtocart>
                <class>Dbm_AjaxAddToCart_Helper</class>
            </dbm_addtocart>
        </helpers>
        <rewrite>
            <ajax_cart> <!--This can be any unique id -->
                <from><![CDATA[#^/checkout/cart/#]]></from>  <!-- the URL which u want to override-->
                <to>/dbmAjaxAddToCart/product/</to>  <!-- destination url -->
            </ajax_cart>
        </rewrite>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Dbm_AjaxAddToCart>
                    <files>
                        <default>Dbm_AjaxAddToCart.csv</default>
                    </files>
                </Dbm_AjaxAddToCart>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <dbm_modal>
                                            <title>DBM - Modal</title>
                                            <sort_order>200</sort_order>
                                        </dbm_modal>
                                    </children>
                                </config>
                            </children>
                        </system>
                     </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>