<?xml version="1.0"?>
<config>
    <modules>
        <Dbm_Store>
            <version>0.0.2</version>
        </Dbm_Store>
    </modules>
    <global>
        <blocks>
            <dbm_store>
                <class>Dbm_Store_Block</class>
            </dbm_store>
            <ustorelocator>
                <rewrite>
                    <adminhtml_location_edit_tab_form>Dbm_Store_Block_Adminhtml_Unirgy_Storelocator_Form</adminhtml_location_edit_tab_form>
                </rewrite>
            </ustorelocator>
        </blocks>
        <models>
            <dbm_store>
                <class>Dbm_Store_Model</class>
            </dbm_store>
        </models>
        <helpers>
            <dbm_store>
                <class>Dbm_Store_Helper</class>
            </dbm_store>
        </helpers>
        <resources>
            <dbm_store_setup>
                <setup>
                    <module>Dbm_Store</module>
                </setup>
            </dbm_store_setup>
        </resources>
        <rewrite>
            <dbm_store_save>
                <!-- <from><![CDATA[#^/vads/standard#]]></from>-->
                <from><![CDATA[#^/ustorelocatoradmin/adminhtml_location/save#]]></from>
                <to>dbm-store-admin/storelocation/save</to>
            </dbm_store_save>
        </rewrite>
    </global>
    <admin>
        <routers>
            <dbm_store>
                <use>admin</use>
                <args>
                    <module>Dbm_Store_Adminhtml</module>
                    <frontName>dbm-store-admin</frontName>
                </args>
            </dbm_store>
        </routers>
    </admin>
</config>
