<?xml version="1.0"?>
<!--
/**
 * Monbento_FeaturedProducts extension
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @category   Monbento
 * @package    Monbento_FeaturedProducts
 * @copyright  Copyright (c) 2010 Anthony Charrex
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */

/**
 * @category   Monbento
 * @package    Monbento_FeaturedProducts
 * @author     Anthony Charrex <anthony.charrax@gmail.com>
 */
-->
<config>
    <modules>
        <Monbento_FeaturedProducts>
            <version>0.0.1</version>
        </Monbento_FeaturedProducts>
    </modules>
    <global>
        <helpers>
            <mfeaturedproducts>
                <class>Monbento_FeaturedProducts_Helper</class>
            </mfeaturedproducts>
        </helpers>
        <blocks>
             <mfeaturedproducts>
                <class>Monbento_FeaturedProducts_Block</class>
             </mfeaturedproducts>
        </blocks>
        <resources>
            <mfeaturedproducts_setup>
                <setup>
                    <module>Monbento_FeaturedProducts</module>
					<class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mfeaturedproducts_setup>
            <mfeaturedproducts_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mfeaturedproducts_write>
            <mfeaturedproducts_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </mfeaturedproducts_read>
		</resources>
    </global>
</config>
