<!--@subject {{var store.getFrontendName()}} : Exp&eacute;dition n°{{var shipment.increment_id}} pour la commande n°{{var order.increment_id}} @-->
<!--@vars
{"store url=\"\"":"Url de la boutique",
"skin url=\"images/logo_email.gif\" _area='frontend'":"Logo de l'email",
"htmlescape var=$order.getCustomerName()":"Nom du client",
"var store.getFrontendName()":"Nom de la boutique",
"store url=\"customer/account/\"":"Url du compte client",
"var shipment.increment_id":"N° de l'exp&eacute;dition",
"var order.increment_id":"N° de commande",
"var order.billing_address.format('html')":"Adresse de facturation",
"var payment_html":"D&eacute;tails du paiement",
"var order.shipping_address.format('html')":"Adresse de livraison",
"var order.shipping_description":"Description de la livraison",
"layout handle=\"sales_email_order_shipment_items\" shipment=$shipment order=$order":"Grille des articles de l'exp&eacute;dition",
"block type='core/template' area='frontend' template='email/order/shipment/track.phtml' shipment=$shipment order=$order":"D&eacute;tails du suivi de l'exp&eacute;dition",
"var comment":"Commentaire de l'exp&eacute;dition"}
@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
<table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
<tr>
    <td align="center" valign="top">
        <!-- [ header starts here] -->
        <table cellspacing="0" cellpadding="0" border="0" width="650">
            <tr>
                <td valign="top"><a href="{{store url=""}}"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="{{var store.getFrontendName()}}"  style="margin-bottom:10px;" border="0"/></a></td>
            </tr>
        </table>
        <!-- [ middle starts here] -->
        <table cellspacing="0" cellpadding="0" border="0" width="650">
            <tr>
                <td valign="top">
                    <p>
                        <strong>Bonjour {{htmlescape var=$order.getCustomerName()}}</strong>,</p>
                        <p>Votre commande est d&eacute;sormais pr&eacute;par&eacute;e. Elle sera d&eacute;pos&eacute;e &agrave; La Poste dans les 24h (except&eacute; les dimanches et jours feri&eacute;s). La Poste s'engage ensuite &agrave; vous livrer en 48h, pour un acheminement Colissimo.</p>
                        <p> Vous avez la possibilit&eacute; de suivre l'&eacute;volution de l'exp&eacute;dition de votre colis sur <a href="http://coliposte.net" style="color: #1E7EC8;">coliposte.net</a>, en indiquant le N° de suivi pr&eacute;cis&eacute; dans la confirmation d'exp&eacute;dition ci-dessous.</p>
                        <p>Pour toutes questions, n'h&eacute;sitez pas &agrave; nous contacter par e-mail sur <a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#1E7EC8;">{{config path='trans_email/ident_support/email'}}</a> ou &agrave; nous appeler au <span class="nobr">09 63 23 95 12 (+33 963 239 512 depuis l'&eacute;tranger)</span> de 9h &agrave; 19h, du lundi au vendredi.</p>
                  <p>Voici la confirmation d'exp&eacute;dition de votre commande :</p>

              <h3 style="border-bottom:2px solid #eee; font-size:1.05em; padding-bottom:1px; ">
                    	<span style="border-bottom: 2px solid #eee; font-size: 1.05em; padding-bottom: 1px;">Exp&eacute;dition n°</span>{{var shipment.increment_id}}<span style="border-bottom: 2px solid #eee; font-size: 1.05em; padding-bottom: 1px;"> de votre commande n°</span>{{var order.increment_id}}                    </h3>
      <table cellspacing="0" cellpadding="0" border="0" width="100%">
                        <thead>
                        <tr>
                            <th align="left" width="48.5%" bgcolor="#d9e5ee" style="padding:5px 9px 6px 9px; border:1px solid #bebcb7; border-bottom:none; line-height:1em;">Informations de facturation :</th>
                            <th width="3%"></th>
                            <th align="left" width="48.5%" bgcolor="#d9e5ee" style="padding:5px 9px 6px 9px; border:1px solid #bebcb7; border-bottom:none; line-height:1em;">Mode de paiement :</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td valign="top" style="padding:7px 9px 9px 9px; border:1px solid #bebcb7; border-top:0; background:#f8f7f5;">
                                {{var order.billing_address.format('html')}}
                            </td>
                            <td>&nbsp;</td>
                            <td valign="top" style="padding:7px 9px 9px 9px; border:1px solid #bebcb7; border-top:0; background:#f8f7f5;">
                                {{var payment_html}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <br/>
                    <table cellspacing="0" cellpadding="0" border="0" width="100%">
                        <thead>
                        <tr>
                            <th align="left" width="48.5%" bgcolor="#d9e5ee" style="padding:5px 9px 6px 9px; border:1px solid #bebcb7; border-bottom:none; line-height:1em;">Informations de livraison :</th>
                            <th width="3%"></th>
                            <th align="left" width="48.5%" bgcolor="#d9e5ee" style="padding:5px 9px 6px 9px; border:1px solid #bebcb7; border-bottom:none; line-height:1em;">Mode de livraison :</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td valign="top" style="padding:7px 9px 9px 9px; border:1px solid #bebcb7; border-top:0; background:#f8f7f5;">
                                {{var order.shipping_address.format('html')}}
                                &nbsp;
                            </td>
                            <td>&nbsp;</td>
                            <td valign="top" style="padding:7px 9px 9px 9px; border:1px solid #bebcb7; border-top:0; background:#f8f7f5;">
                                {{var order.shipping_description}}
                                &nbsp;
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <br/>

                    {{layout handle="sales_email_order_shipment_items" shipment=$shipment order=$order}}

                    <br/>
                    {{block type='core/template' area='frontend' template='email/order/shipment/track.phtml' shipment=$shipment order=$order}}
                    <p>{{var comment}}</p>
                    <p>Nous vous remercions pour votre confiance, et restons &agrave; votre disposition pour tous renseignements.</p>
                    <p>Cordialement.</p>
                    <p>L'&eacute;quipe MonBento</p>
                    <p><a href="http://www.monbento.com" style="color: #1E7EC8;">www.monbento.com</a></p>
              <p>PS : Rejoignez le groupe Facebook &quot;MonBento, la bentomania&quot; ! <a href="http://www.facebook.com/monbento.france" style="color: #1E7EC8;">&gt; cliquez ici</a></p></td>
            </tr>
        </table>
    </td>
</tr>
</table>
</div>