<?xml version="1.0"?>
<config>
    <modules>
        <Dbm_Expedition>
            <version>0.0.1</version>
        </Dbm_Expedition>
    </modules>
    <global>
        <blocks>
            <dbm_expedition>
                <class>Dbm_Expedition_Block</class>
            </dbm_expedition>
           <adminhtml>
                <rewrite>
                    <sales_order_grid>Dbm_Expedition_Block_Adminhtml_Order_Grid</sales_order_grid>
                </rewrite>
          </adminhtml>
        </blocks>
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <dbm_expedition_admin_order_view>
                        <type>singleton</type>
                        <class>Dbm_Expedition_Model_Observer</class>
                        <method>insertShippingUserInfoBlock</method>
                    </dbm_expedition_admin_order_view>
                </observers>
            </core_block_abstract_to_html_after>
            <sales_order_shipment_save_before>
                <observers>
                    <dbm_expedition_shipment_admin_info>
                        <type>singleton</type>
                        <class>Dbm_Expedition_Model_Observer</class>
                        <method>salesSaveShipmentBefore</method>
                    </dbm_expedition_shipment_admin_info>
                </observers>
            </sales_order_shipment_save_before>
        </events>
        <resources>
            <dbm_expedition_setup>
                <setup>
                    <module>Dbm_Expedition</module>
                    <class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
            </dbm_expedition_setup>
        </resources>
    </global>
</config>