<?xml version="1.0"?>
<config>
    <modules>
        <Dbm_Utils>
            <version>0.0.1</version>
        </Dbm_Utils>
    </modules>
    <global>
        <blocks>
            <dbm_utils>
                <class>Dbm_Utils_Block</class>
            </dbm_utils>
        </blocks>
        <helpers>
            <dbm_utils>
                <class>Dbm_Utils_Helper</class>
            </dbm_utils>
            <dbm_country>
                <class>Dbm_Country_Helper</class>
            </dbm_country>
        </helpers>
        <models>
            <dbm_utils>
                <class>Dbm_Utils_Model</class>
            </dbm_utils>
            <paypal>
                <rewrite>
                    <ipn>Dbm_Utils_Model_Rewrite_Paypal_Ipn</ipn>
                </rewrite>
            </paypal>
            <giftpromo>
                <rewrite>
                    <observer>Dbm_Utils_Model_Rewrite_Giftpromo_Observer</observer>
                </rewrite>
            </giftpromo>
        </models>
        <events>
            <clean_media_cache_after>
                <observers>
                    <dbm_utils>
                        <type>singleton</type>
                        <class>Dbm_Utils_Model_Observer</class>
                        <method>afterCacheHandler</method>
                    </dbm_utils>
                </observers>
            </clean_media_cache_after>
            <controller_action_predispatch>
                <observers>
                    <s3ibusiness_giftpromo_addgift>
                        <type>singleton</type>
                        <class>giftpromo/observer</class>
                        <method>addGifts</method>
                    </s3ibusiness_giftpromo_addgift>
                </observers>
            </controller_action_predispatch>
            <sales_order_payment_cancel>
                <observers>
                    <dbm_couponfix_observer>
                        <type>singleton</type>
                        <class>Dbm_Utils_Model_Observer</class>
                        <method>cancelCouponFix</method>
                    </dbm_couponfix_observer>
                </observers>
            </sales_order_payment_cancel>   
        </events>
    </global>
    <!--<frontend>
        <events>
            <controller_action_predispatch_cms_index_index>
                <observers>
                    <dbm_utils>
                        <model>Dbm_Utils_Model_Observer</model>
                        <method>mobileHomePage</method>
                    </dbm_utils>
                </observers>
            </controller_action_predispatch_cms_index_index>
        </events>
    </frontend>-->
    <frontend>
        <routers>
            <utils>
                <use>standard</use>
                <args>
                    <module>Dbm_Utils</module>
                    <frontName>dbm-utils</frontName>
                </args>
            </utils>
        </routers>
    </frontend>
    <admin>
        <routers>
            <dbm_utils_admin>
                <use>admin</use>
                <args>
                    <module>Dbm_Utils_Adminhtml</module>
                    <frontName>dbm-utils-admin</frontName>
                </args>
            </dbm_utils_admin>
            <adminhtml>
                <args>
                    <modules>
                        <Dbm_Utils before="Unirgy_SimpleLicense_Adminhtml">Dbm_Utils_Adminhtml</Dbm_Utils>
                        <Dbm_Utils before="Unirgy_SimpleUpt_Adminhtml">Dbm_Utils_Adminhtml</Dbm_Utils>
                        <Dbm_Utils before="Unirgy_Giftcert_Adminhtml">Dbm_Utils_Adminhtml</Dbm_Utils>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <stores>
        <admin>
            <design>
                <theme>
                    <template>monbento</template>
                </theme>
            </design>
        </admin>
    </stores>
</config>