<?xml version="1.0"?>
<config>
    <modules>
      	<Monbento_Kiosk>
          	<version>0.1.0</version>
        </Monbento_Kiosk>
    </modules>
    <global>
        <helpers>
            <monbento_kiosk>
                <class>Monbento_Kiosk_Helper</class>
            </monbento_kiosk>
        </helpers>
        <models>
            <monbento_kiosk>
                <class>Monbento_Kiosk_Model</class>
            </monbento_kiosk>
        </models>
        <events>
            <controller_action_predispatch>
                <observers>
                    <monbentokiosk_checksession>
                        <type>singleton</type>
                        <class>Monbento_Kiosk_Model_Observer</class>
                        <method>checkKioskSession</method>
                    </monbentokiosk_checksession>
                </observers>
            </controller_action_predispatch>
            <payment_method_is_active>
                <observers>
                    <payment_magasin>
                        <type>singleton</type>
                        <class>Monbento_Kiosk_Model_Observer</class>
                        <method>paymentMethodIsAvailable</method>
                    </payment_magasin>
                </observers>
            </payment_method_is_active>
            <sales_order_place_before>
                <observers>
                    <order_of_customergroup>
                        <type>singleton</type>
                        <class>Monbento_Kiosk_Model_Observer</class>
                        <method>placeOrderForCustomerGroup</method>
                    </order_of_customergroup>
                </observers>
            </sales_order_place_before>
            <sales_order_place_after>
                <observers>
                    <delete_order>
                        <type>singleton</type>
                        <class>Monbento_Kiosk_Model_Observer</class>
                        <method>deleteOrderForPayLater</method>
                    </delete_order>
                </observers>
            </sales_order_place_after>
            <sales_model_service_quote_submit_success>
                <observers>
                    <reactive_quote>
                        <type>singleton</type>
                        <class>Monbento_Kiosk_Model_Observer</class>
                        <method>reactiveQuote</method>
                    </reactive_quote>
                </observers>
            </sales_model_service_quote_submit_success>
            <customer_save_commit_after>
                <observers>
                    <customer_set_customergroup>
                        <type>singleton</type>
                        <class>Monbento_Kiosk_Model_Observer</class>
                        <method>setCustomerGroup</method>
                    </customer_set_customergroup>
                </observers>
            </customer_save_commit_after>
        </events>
        <template>
            <email>
                <save_cart_template translate="label" module="monbento_kiosk">
                    <label>Confirmation panier sauvegardé</label>
                    <file>save_cart.html</file>
                    <type>html</type>
                </save_cart_template>
            </email>
        </template>
    </global>
    <frontend>
        <routers>
            <monbento_kiosk>
                <use>standard</use>
                <args>
                    <module>Monbento_Kiosk</module>
                    <frontName>monbento-kiosk</frontName>
                </args>
            </monbento_kiosk>
        </routers>
        <layout>
            <updates>
                <monbento_kiosk>
                    <file>monbentokiosk.xml</file>
                </monbento_kiosk>
            </updates>
        </layout>
    </frontend>
    <default>
        <monbento_kiosk>
            <general>
                <template>save_cart_template</template>
            </general>
        </monbento_kiosk>
    </default>
</config>