//- layout
extends _components-layout

//- settings
append vars
    - var pageTitle = 'Monbento : page produit'
    - var pageClass = ''
    - var pageColor = '#8cdcf3'
    - var pageType = 'outOfStock'

append body
    include blocks/_productLanding
    include blocks/_reassurance
