//- layout
extends _components-layout

//- settings
append vars
    - var pageTitle = 'Monbento : page déclinaison'
    - var pageClass = 'catalog-product-view'
    - var pageColor = '#8cdcf3'
    - var pageType = 'decli'

append body
    include blocks/_stickyProduct
    include blocks/_productLanding
