//- layout
extends _components-layout--b2b

//- settings
append vars
    - var pageTitle = 'Monbento : Espace Pro'
    - var pageClass = 'c-b2b'
    - var pageColor = '#82b9bf'

append body    
    
    .c-b2b__breadcrumb
        .row
            .column
                - var labels = ['Espace pro', 'Mot de passe oublié']
                +c-breadcrumb(labels)  
            
    .o-section--bkgGrey.c-b2b__forms.c-b2b__password
        .row
            .column
                .c-title--group
                    h1.c-main Mot de passe oublié ?
                    .c-baseline Récupérez votre mot de passe ici
                    
        .row
            .column.large-6.medium-10.medium-centered
                .c-form__wrapper
                    .c-form__holder
                        p Veuillez entrer votre adresse e-mail ci-dessous. #[br]Vous allez recevoir un lien pour réinitialiser votre mot de passe.
                        
                        .c-form__noMargin
                            .c-input__group
                                .c-input__groupItem
                                    .c-input__holder.is-end.js-label__animate
                                        label.required Adresse email #[em *]
                                        .c-input__text
                                            input(type="email")
                                .c-input__groupItem
                                    input.c-button--b2b--arrowRightToRight(type="submit" value="Valider")
                                    
                        .c-label__info #[span.c-required *] Champs obligatoires
                        
                a.c-linkCst--arrowToLeft--subBranding(href="") Retour à la connexion
