.prototools-table{ width:100%; text-align:center; font-size:12px; border:1px solid #bebcb7; }
.prototools-table th{
        margin:0;
	cursor:pointer;
	background-position:right center;
	background-repeat:no-repeat;
	background-image:url('../../../images/auguria/sponsorship/tableorderer/bg.gif');
        border-right:1px solid #c2d3e0;
        color:#0a263c;
        padding : 2px 18px;
        text-align:center;
}

.prototools-table thead tr { background: #d9e5ee; }

.prototools-table th.desc{background-image:url('../../../images/auguria/sponsorship/tableorderer/desc.gif'); }
.prototools-table th.asc{background-image:url('../../../images/auguria/sponsorship/tableorderer/asc.gif'); }
.prototools-table th.on{ cursor :pointer;}

.prototools-table td { border-bottom:1px solid #d9dde3; border-right:1px solid #d9dde3; padding : 6px; }

.prototools-table tr.line0{ background:#f8f7f5; }
.prototools-table tr.line1{ background:#eeeded; }
/*.prototools-table tr.on{ background-color:#CDDBDC; }*/
.prototools-table tr.selected{ background-color:#E4E4E4; }

div.prototools-options { font-size:12px; padding :3px 7px; background:url('../../../images/auguria/sponsorship/tableorderer/bkg_toolbar.gif') repeat-x 0 100% #fff;}
div.prototools-options input, div.prototools-options select{border : 1px solid #CCC; font-size:12px; padding :1px 3px; margin :0 5px;}
/*.prev-page-button {background:url(../images/login_box_form_buttons_bg.gif) }*/

div.prototools-pager { font-size:11px; padding :5px 7px; text-align:right; background:url('../../../images/auguria/sponsorship/tableorderer/bkg_pager.gif') repeat-x 0 100% #fff;}
div.prototools-pager .currentpage {padding-left:10px; padding-right:10px;}
div.prototools-pager .totalpages {padding:0;}
div.prototools-pager input {font-size:11px;}

div.prototools-search {border : 1px solid #E1E1E1; font-size:11px; padding :5px 7px;}
div.prototools-search input {border : 1px solid #E1E1E1; font-size:11px; margin :0 3px;}

th {font-weight:bold;}

/*Alignements spécifiques*/
.data-grid-invit-table-column-invits_name { text-align:left; }
.data-grid-invit-table-column-invits_email { text-align:left; }
.data-grid-sponsor-table-column-nom { text-align:left; }