<?xml version="1.0"?>
<config>
    <modules>
      	<Dbm_SocialFeeds>
          	<version>0.1.0</version>
        </Dbm_SocialFeeds>
    </modules>
    <global>
        <blocks>
            <socialfeeds>
                <class>Dbm_SocialFeeds_Block</class>
            </socialfeeds>
        </blocks>
        <helpers>
            <socialfeeds>
                <class>Dbm_SocialFeeds_Helper</class>
            </socialfeeds>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <socialfeeds>
                    <file>socialfeeds.xml</file>
                </socialfeeds>
            </updates>
        </layout>
        <routers>
            <dbm_socialfeeds>
                <use>standard</use>
                <args>
                    <module>Dbm_SocialFeeds</module>
                    <frontName>dbm-social</frontName>
                </args>
            </dbm_socialfeeds>
        </routers>
    </frontend>
    <default>
        <dbm_feeds_config>
            <instagram_config_general>
                <instagram_enable>0</instagram_enable>
                <instagram_user_id>1566010978</instagram_user_id>
                <instagram_client_id>9aaa421f9f3b41fe972e45fe34a83638</instagram_client_id>
                <instagram_url>https://instagram.com/vianney_bellanger/</instagram_url>
                <instagram_small_size>200</instagram_small_size>
                <instagram_link_enable>1</instagram_link_enable>
            </instagram_config_general>
        </dbm_feeds_config>
    </default>
</config>