<?xml version="1.0"?>
<config>
    <!-- plugin name -->
    <modules>
        <Cartsguru_CartRecovery>
            <version>1.4.0</version>
        </Cartsguru_CartRecovery>
    </modules>
    <global>
        <models>
            <cartsguru_cartrecovery>
                <class>Cartsguru_CartRecovery_Model</class>
                <resourceModel>cartsguru_cartrecovery_resource</resourceModel>
            </cartsguru_cartrecovery>
            <cartsguru_cartrecovery_resource>
                <class>Cartsguru_CartRecovery_Model_Resource</class>
            </cartsguru_cartrecovery_resource>
        </models>
        <blocks>
            <cartsguru_cartrecovery>
                <class>Cartsguru_CartRecovery_Block</class>
            </cartsguru_cartrecovery>
        </blocks>
        <helpers>
            <cartsguru_cartrecovery>
                <class>Cartsguru_CartRecovery_Helper</class>
            </cartsguru_cartrecovery>
        </helpers>
        <resources>
            <cartsguru_cartrecovery_setup>
                <setup>
                    <module>Cartsguru_CartRecovery</module>
                </setup>
            </cartsguru_cartrecovery_setup>
        </resources>
        <!--In this section we register hooks call api-->
        <events>
            <customer_save_before>
                <observers>
                    <cartsguru_cartrecovery_customer_save_before>
                        <type>singleton</type>
                        <class>cartsguru_cartrecovery/observer</class>
                        <method>customerSaveBefore</method>
                    </cartsguru_cartrecovery_customer_save_before>
                </observers>
            </customer_save_before>
            <sales_quote_save_before>
                <observers>
                    <cartsguru_cartrecovery_sales_quote_save_before>
                        <type>singleton</type>
                        <class>cartsguru_cartrecovery/observer</class>
                        <method>quoteSaveBefore</method>
                    </cartsguru_cartrecovery_sales_quote_save_before>
                </observers>
            </sales_quote_save_before>
            <sales_order_save_before>
                <observers>
                    <cartsguru_cartrecovery_sales_order_save_before>
                        <type>singleton</type>
                        <class>cartsguru_cartrecovery/observer</class>
                        <method>orderSaveBefore</method>
                    </cartsguru_cartrecovery_sales_order_save_before>
                </observers>
            </sales_order_save_before>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <cartsguru_cartrecovery after="Mage_Adminhtml">Cartsguru_CartRecovery_Adminhtml</cartsguru_cartrecovery>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <translations>
                    <files>
                        <default>Cartsguru_CartRecovery.csv</default>
                    </files>
                </translations>
            </modules>
        </translate>
        <layout>
            <updates>
                <cartsguru>
                    <file>cartsguru.xml</file>
                </cartsguru>
            </updates>
        </layout>
        <acl>
            <!-- in this section we add acl for admin settings -->
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <cartsguru>
                                            <title>Cartsguru - All</title>
                                        </cartsguru>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <frontend>
        <routers>
            <cartsguru_cartrecovery>
                <use>standard</use>
                <args>
                    <module>Cartsguru_CartRecovery</module>
                    <frontName>cartsguru</frontName>
                </args>
            </cartsguru_cartrecovery>
        </routers>
        <events>
            <controller_front_send_response_before>
                <observers>
                    <cartsguru_cartrecovery>
                        <class>Cartsguru_CartRecovery_Model_Observer</class>
                        <method>checkSource</method>
                    </cartsguru_cartrecovery>
                </observers>
            </controller_front_send_response_before>
            <checkout_cart_add_product_complete>
                <observers>
                    <cartsguru_cartrecovery>
                        <class>Cartsguru_CartRecovery_Model_Observer</class>
                        <method>checkoutCartAdd</method>
                    </cartsguru_cartrecovery>
                </observers>
            </checkout_cart_add_product_complete>
        </events>
        <layout>
            <updates>
                <cartsguru_cartrecovery>
                    <file>cartsguru.xml</file>
                </cartsguru_cartrecovery>
            </updates>
        </layout>
    </frontend>
    <crontab>
        <jobs>
            <cartsguru_cartrecovery_cron>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>cartsguru_cartrecovery/cron::sendData</model>
                </run>
            </cartsguru_cartrecovery_cron>
        </jobs>
    </crontab>
    <default>
        <cartsguru>
            <queue>
                <batch_size_limit>200</batch_size_limit>
                <log>0</log>
            </queue>
        </cartsguru>
    </default>
</config>
