<?xml version="1.0"?>
<config>
    <modules>
        <Sellry_OrderSync>
            <version>0.1.3</version>
        </Sellry_OrderSync>
    </modules>
    <global>
        <models>
            <ordersync>
                <class>Sellry_OrderSync_Model</class>
                <resourceModel>ordersync_mysql4</resourceModel>
            </ordersync>
            <ordersync_mysql4>
                <class>Sellry_OrderSync_Model_Mysql4</class>
                <entities>
                    <inventory>
                        <table>ordersync_inventory</table>
                    </inventory>
                </entities>
            </ordersync_mysql4>
        </models>
        <blocks>
            <ordersync>
                <class>Sellry_OrderSync_Block</class>
            </ordersync>
        </blocks>
        <helpers>
            <ordersync>
                <class>Sellry_OrderSync_Helper</class>
            </ordersync>
        </helpers>
        <resources>
           <ordersync_setup>
               <setup>
                   <module>Sellry_OrderSync</module>
               </setup>
               <connection>
                   <use>core_setup</use>
               </connection>
           </ordersync_setup>
           <ordersync_write>
               <connection>
                   <use>core_write</use>
               </connection>
           </ordersync_write>
           <ordersync_read>
               <connection>
                   <use>core_read</use>
               </connection>
           </ordersync_read>
       </resources>
    </global>
    <crontab>
        <jobs>
            <ordersync_orders_sync>
                <schedule><cron_expr>*/15 * * * *</cron_expr></schedule>
                <run><model>ordersync/observer::syncIt</model></run>
            </ordersync_orders_sync>
            <ordersync_stock_update>
                <schedule><cron_expr>*/15 * * * *</cron_expr></schedule>
                <run><model>ordersync/observer::updateStock</model></run>
            </ordersync_stock_update>
        </jobs>
    </crontab>
    <admin>
      <routers>
        <ordersync>
          <use>admin</use>
          <args>
            <module>Sellry_OrderSync</module>
            <frontName>ordersync</frontName>
          </args>
        </ordersync>
      </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <ordersync>
                    <file>ordersync.xml</file>
                </ordersync>
            </updates>
        </layout>
        <events>
            <catalog_product_save_after>
                <observers>
                    <ordersync_save_product_data>
                        <type>singleton</type>
                        <class>ordersync/observer</class>
                        <method>saveProductTabData</method>
                    </ordersync_save_product_data>
                </observers>
            </catalog_product_save_after>
        </events>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <ordersync_settings translate="title">
                                            <title>Access to Order Sync Specific Settings</title>
                                        </ordersync_settings>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <ordersync_settings>
            <general>
                <allowexport>0</allowexport>
                <exportskus>0</exportskus>
                <exportdisabled>0</exportdisabled>
                <allowimport>0</allowimport>
                <sendemail>0</sendemail>
                <allowstockupdate>0</allowstockupdate>
                <updateskus>0</updateskus>
                <updatedisabled>0</updatedisabled>
            </general>
        </ordersync_settings>
    </default>
</config>
