<?xml version="1.0"?>
<config>
    <modules>
        <Dbm_Seo>
            <version>0.0.1</version>
        </Dbm_Seo>
    </modules>
    <global>
        <helpers>
            <dbm_seo>
                <class>Dbm_Seo_Helper</class>
            </dbm_seo>
        </helpers>
        <models>
            <dbm_seo>
                <class>Dbm_Seo_Model</class>
            </dbm_seo>
            <catalog>
                <rewrite>
                    <url>Dbm_Seo_Model_Rewrite_Catalog_Url</url>
                </rewrite>
            </catalog>
        </models>
        <blocks>
            <dbm_seo>
                <class>Dbm_Seo_Block</class>
            </dbm_seo>
            <cms>
                <rewrite>
                    <page>Dbm_Seo_Block_Rewrite_Cms_Page</page>
                </rewrite>
            </cms>
        </blocks>
        <events>
            <catalog_controller_product_view>
                <observers>
                    <dbm_seo_forcecanonical>
                        <type>singleton</type>
                        <class>Dbm_Seo_Model_Observer</class>
                        <method>forceProductCanonical</method>
                    </dbm_seo_forcecanonical>
                    <dbm_seo_product_view>
                        <class>Dbm_Seo_Model_Observer</class>
                        <method>setMetaProduct</method>
                    </dbm_seo_product_view>
                </observers>
            </catalog_controller_product_view>
            <catalog_controller_category_init_after>
                <observers>
                    <dbm_seo_category_view>
                        <class>Dbm_Seo_Model_Observer</class>
                        <method>setMetaCategory</method>
                    </dbm_seo_category_view>
                </observers>
            </catalog_controller_category_init_after>
            <cms_page_render>
                <observers>
                    <dbm_seo_cms_view>
                        <class>Dbm_Seo_Model_Observer</class>
                        <method>setMetaCms</method>
                    </dbm_seo_cms_view>
                </observers>
            </cms_page_render>
            <controller_action_layout_render_before_catalog_category_view>
                <observers>
                    <seopagination>
                        <type>Singleton</type>
                        <class>Dbm_Seo_Model_Observer</class>
                        <method>doPagination</method>
                    </seopagination>
                </observers>
            </controller_action_layout_render_before_catalog_category_view>
        </events>
    </global>
    <admin>
        <routers>
            <dbm_seo_admin>
                <use>admin</use>
                <args>
                    <module>Dbm_Seo_Adminhtml</module>
                    <frontName>dbm-seo</frontName>
                </args>
            </dbm_seo_admin>
        </routers>
    </admin>
    <crontab>
        <jobs>
            <Dbm_Seo>
                <schedule><cron_expr>0 3 * * 1</cron_expr></schedule>
                <run><model>Dbm_Seo_Model_Observer::scheduledGenerateSitemaps</model></run>
            </Dbm_Seo>
        </jobs>
    </crontab>
    <default>
        <dbm_seo>
            <defaultseo>
                <parentcategoryurl>0</parentcategoryurl>
            </defaultseo>
            <meta_description>
                <category>Mon commerce ● Découvrez notre gamme de [CATEGORIE] ● Expédition sous 24H</category>
                <product>Mon commerce ● Découvrez [PRODUIT] [CATEGORIE] ● Expédition sous 24H</product>
            </meta_description>
            <alt_tag>
                <product_image>Mon commerce - [CATEGORIE] - [PRODUIT]</product_image>
            </alt_tag>
        </dbm_seo>
    </default>
</config>