<?xml version="1.0"?>
<config>
    <modules>
        <Dbm_TagManager>
            <version>0.0.1</version>
        </Dbm_TagManager>
    </modules>
    <global>
        <helpers>
            <dbm_tagmanager>
                <class>Dbm_TagManager_Helper</class>
            </dbm_tagmanager>
        </helpers>
        <blocks>
            <dbm_tagmanager>
                <class>Dbm_TagManager_Block</class>
            </dbm_tagmanager>
            <egits_gtm>
                <rewrite>
                    <tag>Dbm_TagManager_Block_Rewrite_Tag</tag>
                </rewrite>
            </egits_gtm>
        </blocks>
        <models>
            <dbm_tagmanager>
                <class>Dbm_TagManager_Model</class>
            </dbm_tagmanager>
        </models>
        <events>
            <customer_register_success>
                <observers>
                    <customer_new_gtm>
                        <type>singleton</type>
                        <class>dbm_tagmanager/observer</class>
                        <method>customerCreateHandler</method>
                    </customer_new_gtm>
                </observers>
            </customer_register_success>
            <dbm_gtm_newsletter_subscribe>
                <observers>
                    <newsletter_new_gtm>
                        <type>singleton</type>
                        <class>dbm_tagmanager/observer</class>
                        <method>newsletterSubscribeHandler</method>
                    </newsletter_new_gtm>
                </observers>
            </dbm_gtm_newsletter_subscribe>
            <sales_order_payment_pay>
                <observers>
                    <dbm_ga_ecommercetracking>
                        <type>singleton</type>
                        <class>dbm_tagmanager/observer_order</class>
                        <method>paymentHandler</method>
                    </dbm_ga_ecommercetracking>
                </observers>
            </sales_order_payment_pay>
            <sales_order_place_before>
                <observers>
                    <user_agent>
                        <type>singleton</type>
                        <class>dbm_tagmanager/observer_order</class>
                        <method>orderHandler</method>
                    </user_agent>
                </observers>
            </sales_order_place_before>
        </events>
        <resources>
            <dbm_ga_setup>
                <setup>
                    <module>Dbm_TagManager</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </dbm_ga_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <newsletter>
                <args>
                    <modules>
                        <dbm_tagmanager before="Mage_Newsletter">Dbm_TagManager_Rewrite_Newsletter</dbm_tagmanager>
                    </modules>
                </args>
            </newsletter>
            <dbm_ga>
                <use>standard</use>
                <args>
                    <module>Dbm_TagManager</module>
                    <frontName>ga-site-front</frontName>
                </args>
            </dbm_ga>
        </routers>
    </frontend>
</config>