.c-footer--main
    .row
        .columns.large-4.medium-6
            .c-footer__item
                .c-title--columns Besoin d’aide ? Une question ?
                a.c-linkCst--arrow(href="") Consultez notre FAQ
                p Lundi > Vendredi / 9H>12H / 14H>17H / Heures locales
                a.c-linkPhone(href="") 04 73 23 72 72

        .columns.large-4.medium-6
            .c-footer__item
                .c-title--columns Newsletter
                p Des nouveautés, des ventes privées, des promos ...#[br]Tout ça rien que pour vous !
                .c-formNewsletter
                    form(action="")
                        .c-input__holder
                            .c-input__text: input(type="text", placeholder="Adresse e-mail")
                            .c-input__submit: input(type="submit", value="je m'abonne")

        .columns.large-4
            .c-footer__item.c-footer__item--lastChild
                .c-title--columns Suivez-nous
                a.c-linkHashtag(href="https://twitter.com/monbento") #monbento
                ul.c-list__social
                    li: a(href="https://www.facebook.com/monbento"): i.c-fonticon__icon--facebook
                    li: a(href="https://twitter.com/monbento"): i.c-fonticon__icon--twitter
                    li: a(href="https://www.instagram.com/monbento/"): i.c-fonticon__icon--instagram
                    li: a(href="https://fr.pinterest.com/monbento/"): i.c-fonticon__icon--pinterest
