svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='84px', height='99px', viewbox='0 0 84 99', enable-background='new 0 0 84 99', xml:space='preserve')
    path(fill='#{pageColor}', d='M83.2,41.7C83.2,18.9,64.8,0.5,42,0.5S0.8,18.9,0.8,41.7c0,20.2,14.5,37,33.7,40.5l6.1,15.3 c0.6,1.3,2.4,1.3,2.9,0l6.1-15.3C68.7,78.7,83.2,61.9,83.2,41.7z')
