.c-languageSwitcher.is-open
    .c-info
        span: .o-table: .o-table__cell--valignMiddle
            | Votre pays de livraison :
            strong LA FRANCE métropolitaine

        span: .o-table: .o-table__cell--valignMiddle
            | Votre Langue :
            strong Le Français

    a.c-close--text.js-close__languageSwitcher(href=""): .o-table: .o-table__cell--valignMiddle
        span Fermer
        i.c-fonticon__icon--cross

    a.c-button--transparentNoHover--arrowRightToRight(href=""): .o-table: .o-table__cell--valignMiddle Modifier
