section.c-launcher
    .row
        .columns.medium-4: a(href=""): img(src="#{imgDir}c-img__launcher--01.jpg", alt="")
        .columns.medium-4: a(href=""): img(src="#{imgDir}c-img__launcher--02.jpg", alt="")
        .columns.medium-4: a(href=""): img(src="#{imgDir}c-img__launcher--03.jpg", alt="")
