section.o-section.c-product__tabs
    .row: .columns.large-10.medium-centered
        .c-tabs
            .c-tabs__controler
                a(href=".js-tabs--00"): .o-table: .o-table__cell--valignMiddle Caractéristiques
                a(href=".js-tabs--01"): .o-table: .o-table__cell--valignMiddle Dimention & Composition

            .c-tabs__holder
                .c-tabs__item.js-tabs--00
                    .row
                        .columns.medium-7.large-6
                            .c-text__sofiaPro--light--20
                                i.c-icon__medium.c-fonticonCarac__icon--0008
                                | Passe au four micro-ondes
                            .c-text__sofiaPro--light--20
                                i.c-icon__medium.c-fonticonCarac__icon--0009
                                | Passe au lave-vaisselle
                            .c-text__sofiaPro--light--20
                                i.c-icon__medium.c-fonticonCarac__icon--0010
                                | Hermétique
                            .c-text__sofiaPro--light--20
                                i.c-icon__medium.c-fonticonCarac__icon--0011
                                | Soft touch "feeling"
                            .c-text__sofiaPro--light--20
                                i.c-icon__medium.c-fonticonCarac__icon--0012
                                | Sans BPA
                            .c-text__sofiaPro--light--20
                                i.c-icon__medium.c-fonticonCarac__icon--0013
                                | Alimentaire
                            img(src="#{imgDir}c-img__waranty5yrs.png", alt="")
                        .columns.medium-5.large-6.text-center.c-thumb: img(src="#{imgDir}c-img__caracProduct.jpg", alt="")

                .c-tabs__item.js-tabs--01
                    .row
                        .columns.medium-7.large-6
                            .h3 Dimensions
                            ul
                                li Dimensions produit : L 14 x p 14 x h 14cm
                                li Capacité : 2x850 ml = 1.7 L

                            .h3 Composition
                            ul
                                li 2 récipients, 1 couvercle (matière PP)
                                li 2 couvercles intermédiaires (matière PP)
                                li 2 bouchons + joints (matière Silicon)
                                li 2 élastiques (matière élasthanne)
                                li 1 caissette (matière PP)
                        .columns.medium-5.large-6.text-center.c-thumb: img(src="#{imgDir}c-img__caracProduct.jpg", alt="")
