section.c-product__personalize
    .row.collapse
        .columns.large-8.js-itemEqualizer.text-center: .o-table: .o-table__cell--valignMiddle
            // format image 960x600
            img(src="#{imgDir}c-img__product--960x600.jpg", alt="")

        .columns.large-4.js-itemEqualizer: .o-table: .o-table__cell--valignMiddle
            .c-content__aside
                .c-title Couleurs personnalisées
                .c-baseline Créez un design unique !
                .c-separator
                    svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='120px', height='23.3px', viewbox='0 0 120 23.3', enable-background='new 0 0 120 23.3', xml:space='preserve')
                      path.c-brush(fill='#CECCCC', d='M118.3,4.3L54.2,0.8c0,0-0.1,0-0.1,0c0,0-0.1,0-0.1,0L27.1,2.7c-0.3,0-0.5,0.1-0.8,0.2\
                      c-1-0.6-12.3-7.3-23.5,2C2.5,5.2,2.3,5.7,2.3,6.3c0,0.5,0.2,1,0.6,1.4c4.5,3.7,9,4.9,12.8,4.9c5.7,0,10-2.5,10.7-2.9\
                      c0.2,0.1,0.5,0.2,0.8,0.2L54,11.5c0,0,0.1,0,0.1,0c0,0,0.1,0,0.1,0l64.1-3.6c0.9-0.1,1.7-0.8,1.7-1.8C120,5.2,119.3,4.4,118.3,4.3z\
                      M7.1,6.3c7.4-4.8,14.3-2,16.6-0.8l0,1.5C21.4,8.2,14.4,11.1,7.1,6.3z M29,6.3l0-0.2l23.3-1.6l0,1.7l0,1.6L29,6.3z')
                      g.c-colorDrop
                        // change color here
                        path(fill='#{pageColor}', d='M10.5,2c-0.2-0.4-0.6-0.8-1-1c-0.5-0.2-1-0.1-1.4,0.1L1,4.7C0.4,5,0,5.6,0,6.2c0,0.7,0.3,1.3,0.9,1.6\
                        C3.6,9.4,8.6,12,10.5,12c0,0,0,0,0,0c0.8,0,1.5-0.4,1.9-1C12.8,10.5,13.7,9,10.5,2z')
                        // change color here
                        path(fill='#{pageColor}', d='M10.2,15.3C10.1,15.1,9.9,15,9.7,15c-0.2,0-0.4,0.1-0.5,0.3c-0.4,0.6-2.2,3.9-2.1,5.3c0.1,0.8,0.4,1.5,1,2\
                        c0.5,0.5,1.2,0.7,1.9,0.7c0.1,0,0.2,0,0.2,0c1.6-0.1,2.8-1.6,2.7-3.2C13,18.7,10.7,15.8,10.2,15.3z')

                .c-desc Personnalisez votre bento selon vos envies, maintenant c'est possible !#[br]Le module de personnalisation monbento vous permet de choisir la couleur de chaque élément du bento MB.
                a.c-button--transparentNoHover--arrowRightToRight(href="") Créer mon MBOriginal
