.columns.small-6.medium-4.large-3
    .c-item__product.js-itemEqualizer--holder.is-mif
        .c-thumb
            // format image 220x220px
            a(href=""): img(src="#{imgDir}c-img__product--220x220.png", alt="")
        .c-flag--mif
        .js-itemEqualizer
            a.c-title(href="") MBPocket Bleu ciel
            .c-baseline Les couverts nomades
        .c-priceBox
            .c-price 35,00€
        a.c-button--transparentNoHover--arrowRightToRight(href=""): .o-table: .o-table__cell--valignMiddle Ajouter au panier
