section.c-reassuranceShop
    .row
        .columns.small-4
            .c-reassuranceShop--item
                i.c-fonticon__icon--xchange
                .c-title satisfait ou remboursé

        .columns.small-4
            .c-reassuranceShop--item
                i.c-fonticon__icon--truck
                .c-title livraison à partir de 4,90€
                .c-baseline ( france métropolitaine )

        .columns.small-4
            .c-reassuranceShop--item
                i.c-fonticon__icon--lock
                .c-title Paiement sécurisé
