section.c-reassurance
    .row
        .columns
            .c-reassurance__item
                a(href=""): .o-table: .o-table__cell--valignMiddle: img(src="#{imgDir}c-icon__mif.svg", alt="")
            .c-reassurance__item
                a(href=""): .o-table: .o-table__cell--valignMiddle: img(src="#{imgDir}c-logo__reddotDesignAward.svg", alt="")
            .c-reassurance__item
                a(href=""): .o-table: .o-table__cell--valignMiddle: img(src="#{imgDir}c-icon__garanti.svg", alt="")
