.c-search
    form(action="")
        .c-input__holder
            input.c-search__input(type="text", placeholder="Votre recherche ...")
            input.c-search__submit(type="submit", value="ok")
            a.c-close(href=""): .o-table: .o-table__cell--valignMiddle: i.c-fonticon__icon--cross
