.c-wysiwyg
    h2 h2 - lorem ipsum titre de second niveau
    h3 h3 - lorem ipsum dolor sit amet
    h4 h4 - lorem ipsum dolor sit amet

    //img.align-right(src="#{imgDir}c-img__wysiwyg--01.jpg", alt="")
    p(style='text-align: justify;') Lorem ipsum dolor sit amet, #[a(href="") consectetur adipiscing elit], sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

    blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.

    //img.align-center(src="#{imgDir}c-img__wysiwyg--02.jpg", alt="")

    p Lorem ipsum dolor sit amet sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

    ul
        li Lorem ipsum
        li Lorem ipsum
        li Lorem ipsum

        ul
            li Lorem ipsum
            li Lorem ipsum
            li Lorem ipsum

    h4 h4 - lorem ipsum dolor sit amet

    table
        thead
            tr
                th Table header
                th Table header
                th Table header
                th Table header
        tbody
            tr
                td Content Goes Here
                td Content Goes Here
                td Content Goes Here
                td Content Goes Here
            tr
                td Content Goes Here
                td Content Goes Here
                td Content Goes Here
                td Content Goes Here
            tr
                td Content Goes Here
                td Content Goes Here
                td Content Goes Here
                td Content Goes Here

    p Lorem ipsum dolor sit amet sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

    ol
        li Lorem ipsum
        li Lorem ipsum
        li Lorem ipsum

        ol
            li Lorem ipsum
            li Lorem ipsum
            li Lorem ipsum
