<html>
<body style="font-family:Arial; font-size:0.8em;">
    <div><img src="{{ app.request.uriForPath('/public/img/email-logo.gif') }}" /></div><br /><br />
    <div style="margin-left:20px;">
    <p style="font-size:1em; font-weight: bold;">{%trans%}Bonjour{%endtrans%} {{name}},</p><br/>
    <p>{%trans%}Merci pour votre inscription sur la page J’adore et bienvenue dans la communauté monbento® !{%endtrans%}</p>
    <p>{%trans%}Vous allez prochainement recevoir les astuces qui vous permettront de profiter au mieux de votre nouveau compagnon !{%endtrans%},</p><br />
    <p>{%trans%}A bientôt,{%endtrans%},</p><br />
    <p style="font-weight:bold">monbento®</p>
    </div>
</body>
</html>