<?xml version="1.0"?>
<config>
        <modules>
                <Monbento_Affiliation>
                        <version>1.0</version>
                </Monbento_Affiliation>
        </modules>
        <frontend>
                <routers>
                        <affiliation>
                                <use>standard</use>
                                <args>
                                        <module>Monbento_Affiliation</module>
                                        <frontName>affiliation</frontName>
                                </args>
                        </affiliation>
                </routers>
                <translate>
                        <modules>
                                <Monbento_Affiliation>
                                    <files>
                                        <default>Monbento_Affiliation.csv</default>
                                    </files>
                                </Monbento_Affiliation>
                        </modules>
                </translate>
                <layout>
                    <updates>
                        <affiliation>
                            <file>affiliation.xml</file>
                        </affiliation>
                    </updates>
                </layout>
        </frontend>
        <global>
                <resources>
                    <affiliation_setup>
                        <setup>
                            <module>Mage_Affiliation</module>
                        </setup>
                        <connection>
                            <use>core_setup</use>
                        </connection>
                    </affiliation_setup>
                </resources>
                <helpers>
                    <affiliation>
                        <class>Monbento_Affiliation_Helper</class>
                    </affiliation>
                </helpers>
                <template>
                    <email>
                        <affiliation_email_email_template translate="label" module="affiliation">
                            <label>Affiliation Form</label>
                            <file>affiliation_form.html</file>
                            <type>text</type>
                        </affiliation_email_email_template>
                    </email>
                </template>
        </global>
        <adminhtml>
                <translate>
                    <modules>
                        <Monbento_Affiliation>
                            <files>
                                <default>Monbento_Affiliation.csv</default>
                            </files>
                        </Monbento_Affiliation>
                    </modules>
                </translate>
                <acl>
                    <resources>
                        <admin>
                            <children>
                                <system>
                                    <children>
                                        <config>
                                            <children>
                                                <affiliation translate="title" module="affiliation">
                                                    <title>Affiliation Section</title>
                                                </affiliation>
                                            </children>
                                        </config>
                                    </children>
                                </system>
                            </children>
                        </admin>
                </resources>
                </acl>
        </adminhtml>
        <default>
                <affiliation>
                    <affiliation>
                        <enabled>1</enabled>
                    </affiliation>
                    <email>
                        <recipient_email><![CDATA[nicolas@altiplano.fr]]></recipient_email>
                        <sender_email_identity>general</sender_email_identity>
                        <email_template>affiliation_email_email_template</email_template>
                    </email>
                </affiliation>
        </default>
</config>
