// ========================================= //
// Settings
// ========================================= //

// *Define Font

// *Define Font Size

// *Define Color
$brand-primary : #932881;

$purple         : #841669 !default;
$gray           : #8c8c8c !default;

// *Define Breakpoints
$mb-xsmall                 : 26.25em!default;  //420px
$mb-small                  : 40em!default;     //640px
$mb-xmedium                : 52.5em!default;   //840px
$mb-medium                 : 64em!default;     //1024px
$mb-large                  : 90em!default;     //1440px